In [1]:
import pandas as pd
import numpy as np

df_sleep = pd.read_excel("data/raw/sleep.xlsx")

In [2]:
df_sleep

,type,sourceName,sourceVersion,creationDate,startDate,endDate,value,MetadataEntry
0,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:01:00 +0530,2021-10-06 14:40:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN
1,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:41:00 +0530,2021-10-06 15:11:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN
2,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:12:00 +0530,2021-10-06 15:26:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN
3,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:27:00 +0530,2021-10-06 15:49:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN
4,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:50:00 +0530,2021-10-06 17:00:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN
...,...,...,...,...,...,...,...,...
22946,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:10:00 +0530,2025-12-03 05:14:59 +0530,HKCategoryValueSleepAnalysisAsleepREM,NaN
22947,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:15:00 +0530,2025-12-03 05:21:59 +0530,HKCategoryValueSleepAnalysisAsleepCore,NaN
22948,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:22:00 +0530,2025-12-03 05:28:59 +0530,HKCategoryValueSleepAnalysisAsleepREM,NaN
22949,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:29:00 +0530,2025-12-03 06:14:59 +0530,HKCategoryValueSleepAnalysisAsleepCore,NaN
22950,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 02:50:00 +0530,2025-12-03 06:16:59 +0530,HKCategoryValueSleepAnalysisInBed,NaN

In [3]:
df_sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22951 entries, 0 to 22950
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           22951 non-null  object
 1   sourceName     22951 non-null  object
 2   sourceVersion  22951 non-null  object
 3   creationDate   22951 non-null  object
 4   startDate      22951 non-null  object
 5   endDate        22951 non-null  object
 6   value          22951 non-null  object
 7   MetadataEntry  0 non-null      float64
dtypes: float64(1), object(7)
memory usage: 1.4+ MB

In [4]:
df_sleep.isna().sum()

type                 0
sourceName           0
sourceVersion        0
creationDate         0
startDate            0
endDate              0
value                0
MetadataEntry    22951
dtype: int64

In [5]:
(df_sleep.isna().mean() * 100).round(2)

type               0.0
sourceName         0.0
sourceVersion      0.0
creationDate       0.0
startDate          0.0
endDate            0.0
value              0.0
MetadataEntry    100.0
dtype: float64

In [6]:
df_sleep["type"].value_counts()

type
HKCategoryTypeIdentifierSleepAnalysis    22951
Name: count, dtype: int64

In [7]:
df_sleep["value"].value_counts()

value
HKCategoryValueSleepAnalysisInBed                15307
HKCategoryValueSleepAnalysisAsleepCore            3127
HKCategoryValueSleepAnalysisAwake                 1852
HKCategoryValueSleepAnalysisAsleepREM             1176
HKCategoryValueSleepAnalysisAsleepDeep             873
HKCategoryValueSleepAnalysisAsleepUnspecified      616
Name: count, dtype: int64

In [8]:
sleep_value_map = {
    "HKCategoryValueSleepAnalysisInBed": "in_bed",
    "HKCategoryValueSleepAnalysisAwake": "awake",
    "HKCategoryValueSleepAnalysisAsleepCore": "asleep_core",
    "HKCategoryValueSleepAnalysisAsleepREM": "asleep_rem",
    "HKCategoryValueSleepAnalysisAsleepDeep": "asleep_deep",
    "HKCategoryValueSleepAnalysisAsleepUnspecified": "asleep_unspecified",
}

df_sleep["sleep_state"] = df_sleep["value"].map(sleep_value_map)

In [9]:
df_sleep["sleep_state"].value_counts()

sleep_state
in_bed                15307
asleep_core            3127
awake                  1852
asleep_rem             1176
asleep_deep             873
asleep_unspecified      616
Name: count, dtype: int64

In [10]:
df_sleep

,type,sourceName,sourceVersion,creationDate,startDate,endDate,value,MetadataEntry,sleep_state
0,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:01:00 +0530,2021-10-06 14:40:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN,asleep_unspecified
1,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:41:00 +0530,2021-10-06 15:11:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN,asleep_unspecified
2,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:12:00 +0530,2021-10-06 15:26:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN,asleep_unspecified
3,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:27:00 +0530,2021-10-06 15:49:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN,asleep_unspecified
4,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:50:00 +0530,2021-10-06 17:00:59 +0530,HKCategoryValueSleepAnalysisAsleepUnspecified,NaN,asleep_unspecified
...,...,...,...,...,...,...,...,...,...
22946,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:10:00 +0530,2025-12-03 05:14:59 +0530,HKCategoryValueSleepAnalysisAsleepREM,NaN,asleep_rem
22947,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:15:00 +0530,2025-12-03 05:21:59 +0530,HKCategoryValueSleepAnalysisAsleepCore,NaN,asleep_core
22948,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:22:00 +0530,2025-12-03 05:28:59 +0530,HKCategoryValueSleepAnalysisAsleepREM,NaN,asleep_rem
22949,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:29:00 +0530,2025-12-03 06:14:59 +0530,HKCategoryValueSleepAnalysisAsleepCore,NaN,asleep_core
22950,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 02:50:00 +0530,2025-12-03 06:16:59 +0530,HKCategoryValueSleepAnalysisInBed,NaN,in_bed

In [11]:
df_sleep = df_sleep.drop(columns=["value"])

In [12]:
df_sleep

,type,sourceName,sourceVersion,creationDate,startDate,endDate,MetadataEntry,sleep_state
0,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:01:00 +0530,2021-10-06 14:40:59 +0530,NaN,asleep_unspecified
1,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:41:00 +0530,2021-10-06 15:11:59 +0530,NaN,asleep_unspecified
2,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:12:00 +0530,2021-10-06 15:26:59 +0530,NaN,asleep_unspecified
3,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:27:00 +0530,2021-10-06 15:49:59 +0530,NaN,asleep_unspecified
4,HKCategoryTypeIdentifierSleepAnalysis,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:50:00 +0530,2021-10-06 17:00:59 +0530,NaN,asleep_unspecified
...,...,...,...,...,...,...,...,...
22946,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:10:00 +0530,2025-12-03 05:14:59 +0530,NaN,asleep_rem
22947,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:15:00 +0530,2025-12-03 05:21:59 +0530,NaN,asleep_core
22948,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:22:00 +0530,2025-12-03 05:28:59 +0530,NaN,asleep_rem
22949,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:29:00 +0530,2025-12-03 06:14:59 +0530,NaN,asleep_core
22950,HKCategoryTypeIdentifierSleepAnalysis,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 02:50:00 +0530,2025-12-03 06:16:59 +0530,NaN,in_bed

In [13]:
df_sleep["metric"] = "sleep"

In [14]:
df_sleep["metric"].value_counts()

metric
sleep    22951
Name: count, dtype: int64

In [15]:
df_sleep = df_sleep.drop(columns=["MetadataEntry", "type"])

In [16]:
df_sleep

,sourceName,sourceVersion,creationDate,startDate,endDate,sleep_state,metric
0,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:01:00 +0530,2021-10-06 14:40:59 +0530,asleep_unspecified,sleep
1,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:41:00 +0530,2021-10-06 15:11:59 +0530,asleep_unspecified,sleep
2,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:12:00 +0530,2021-10-06 15:26:59 +0530,asleep_unspecified,sleep
3,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:27:00 +0530,2021-10-06 15:49:59 +0530,asleep_unspecified,sleep
4,Zepp Life,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:50:00 +0530,2021-10-06 17:00:59 +0530,asleep_unspecified,sleep
...,...,...,...,...,...,...,...
22946,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:10:00 +0530,2025-12-03 05:14:59 +0530,asleep_rem,sleep
22947,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:15:00 +0530,2025-12-03 05:21:59 +0530,asleep_core,sleep
22948,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:22:00 +0530,2025-12-03 05:28:59 +0530,asleep_rem,sleep
22949,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:29:00 +0530,2025-12-03 06:14:59 +0530,asleep_core,sleep
22950,Zepp,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 02:50:00 +0530,2025-12-03 06:16:59 +0530,in_bed,sleep

In [17]:
df_sleep["sourceName"].value_counts()

sourceName
iPhone                8579
Hiro’s Apple Watch    8023
iPhone (2)            5589
Zepp                   287
Zepp Life              249
Power Sync             224
Name: count, dtype: int64

In [18]:
df_sleep["sourceName"] = df_sleep["sourceName"].replace({
    "iPhone (2)": "iPhone",
    "Zepp": "Amazfit",
    "Zepp Life": "Mi Smart Band",
    "Power Sync": "Fitbit"
})

In [19]:
df_sleep["sourceName"].value_counts()

sourceName
iPhone                14168
Hiro’s Apple Watch     8023
Amazfit                 287
Mi Smart Band           249
Fitbit                  224
Name: count, dtype: int64

In [20]:
df_sleep.groupby("sourceName")["sourceVersion"].unique()

sourceName
Amazfit               [202510161629, 202510291354, 202511151142, 202...
Fitbit                                                              [1]
Hiro’s Apple Watch    [9.0, 10.2, 10.3, 11.0, 11.0.1, 11.3.1, 11.5, ...
Mi Smart Band                              [202109271829, 202110181330]
iPhone                [16.0, 16.1.2, 16.2, 16.3.1, 16.4, 16.5, 16.6,...
Name: sourceVersion, dtype: object

In [21]:
df_sleep.groupby("sourceName")["sourceVersion"].nunique()

sourceName
Amazfit                4
Fitbit                 1
Hiro’s Apple Watch    10
Mi Smart Band          2
iPhone                21
Name: sourceVersion, dtype: int64

In [22]:
df_sleep[["sourceName", "sourceVersion"]].drop_duplicates().sort_values(
    ["sourceName", "sourceVersion"]
)

               sourceName sourceVersion
22664             Amazfit  202510161629
22677             Amazfit  202510291354
22818             Amazfit  202511151142
22930             Amazfit  202511201645
249                Fitbit             1
9241   Hiro’s Apple Watch          10.2
11261  Hiro’s Apple Watch          10.3
19230  Hiro’s Apple Watch          11.0
19630  Hiro’s Apple Watch        11.0.1
21099  Hiro’s Apple Watch        11.3.1
21802  Hiro’s Apple Watch          11.5
22099  Hiro’s Apple Watch          11.6
22172  Hiro’s Apple Watch          26.0
22467  Hiro’s Apple Watch        26.0.2
402    Hiro’s Apple Watch           9.0
0           Mi Smart Band  202109271829
23          Mi Smart Band  202110181330
379                iPhone          16.0
2577               iPhone        16.1.2
2837               iPhone          16.2
4662               iPhone        16.3.1
4971               iPhone          16.4
5140               iPhone          16.5
6346               iPhone        16.5.1
5925               iPhone          16.6
7600               iPhone        16.6.1
5994               iPhone          17.0
7838               iPhone        17.0.1
7939               iPhone        17.0.2
8081               iPhone        17.0.3
8915               iPhone        17.1.1
8973               iPhone        17.1.2
9115               iPhone          17.2
9390               iPhone        17.2.1
12510              iPhone        17.3.1
14492              iPhone        17.4.1
16402              iPhone        17.5.1
18696              iPhone        17.6.1

In [23]:
# Ensure datetime (should already be done, but safe)
df_sleep["startDate"] = pd.to_datetime(df_sleep["startDate"])
df_sleep["endDate"] = pd.to_datetime(df_sleep["endDate"])

# Compute duration in minutes
df_sleep["duration_min"] = (
    df_sleep["endDate"] - df_sleep["startDate"]
).dt.total_seconds() / 60

In [24]:
df_sleep

,sourceName,sourceVersion,creationDate,startDate,endDate,sleep_state,metric,duration_min
0,Mi Smart Band,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:01:00+05:30,2021-10-06 14:40:59+05:30,asleep_unspecified,sleep,39.983333
1,Mi Smart Band,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 14:41:00+05:30,2021-10-06 15:11:59+05:30,asleep_unspecified,sleep,30.983333
2,Mi Smart Band,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:12:00+05:30,2021-10-06 15:26:59+05:30,asleep_unspecified,sleep,14.983333
3,Mi Smart Band,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:27:00+05:30,2021-10-06 15:49:59+05:30,asleep_unspecified,sleep,22.983333
4,Mi Smart Band,202109271829,2021-10-06 18:12:23 +0530,2021-10-06 15:50:00+05:30,2021-10-06 17:00:59+05:30,asleep_unspecified,sleep,70.983333
...,...,...,...,...,...,...,...,...
22946,Amazfit,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:10:00+05:30,2025-12-03 05:14:59+05:30,asleep_rem,sleep,4.983333
22947,Amazfit,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:15:00+05:30,2025-12-03 05:21:59+05:30,asleep_core,sleep,6.983333
22948,Amazfit,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:22:00+05:30,2025-12-03 05:28:59+05:30,asleep_rem,sleep,6.983333
22949,Amazfit,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 05:29:00+05:30,2025-12-03 06:14:59+05:30,asleep_core,sleep,45.983333
22950,Amazfit,202511201645,2025-12-03 07:19:27 +0530,2025-12-03 02:50:00+05:30,2025-12-03 06:16:59+05:30,in_bed,sleep,206.983333

In [25]:
df_sleep["duration_min"].describe()

count    22951.000000
mean        24.123213
std         66.202497
min          0.016667
25%          0.950000
50%          3.233333
75%         14.500000
max        935.983333
Name: duration_min, dtype: float64

In [26]:
(df_sleep["duration_min"] < 0).sum()

np.int64(0)

In [27]:
#short sleep events
(df_sleep["duration_min"] < 1).sum()

np.int64(5865)

In [28]:
sleep_states_asleep = [
    "asleep_core",
    "asleep_rem",
    "asleep_deep",
    "asleep_unspecified"
]

df_sleep["is_asleep"] = df_sleep["sleep_state"].isin(sleep_states_asleep).astype(int)

In [29]:
df_sleep["is_asleep"].value_counts()

is_asleep
0    17159
1     5792
Name: count, dtype: int64

In [30]:
df_sleep["sleep_date"] = df_sleep["startDate"].dt.date

In [31]:
df_sleep[["startDate", "sleep_date"]].head()

                  startDate  sleep_date
0 2021-10-06 14:01:00+05:30  2021-10-06
1 2021-10-06 14:41:00+05:30  2021-10-06
2 2021-10-06 15:12:00+05:30  2021-10-06
3 2021-10-06 15:27:00+05:30  2021-10-06
4 2021-10-06 15:50:00+05:30  2021-10-06

In [32]:
# Total sleep per night (minutes)
nightly_sleep = (
    df_sleep[df_sleep["is_asleep"] == 1]
    .groupby("sleep_date")["duration_min"]
    .sum()
    .reset_index(name="total_sleep_min")
)

In [35]:
nightly_sleep.describe()

       total_sleep_min
count       413.000000
mean        347.406659
std         148.517288
min           6.000000
25%         260.000000
50%         359.000000
75%         434.000000
max        1544.833333

In [36]:
nightly_sleep.head()

   sleep_date  total_sleep_min
0  2021-10-06       215.883333
1  2021-10-07       248.950000
2  2021-10-09       525.850000
3  2021-10-10       621.650000
4  2021-10-13       293.850000

In [37]:
# Sleep stage breakdown per night
sleep_stages_nightly = (
    df_sleep[df_sleep["is_asleep"] == 1]
    .groupby(["sleep_date", "sleep_state"])["duration_min"]
    .sum()
    .unstack(fill_value=0)
    .reset_index()
)

In [38]:
sleep_stages_nightly.head()

sleep_state,sleep_date,asleep_core,asleep_deep,asleep_rem,asleep_unspecified
0,2021-10-06,0.0,0.0,0.0,215.883333
1,2021-10-07,0.0,0.0,0.0,248.950000
2,2021-10-09,0.0,0.0,0.0,525.850000
3,2021-10-10,0.0,0.0,0.0,621.650000
4,2021-10-13,0.0,0.0,0.0,293.850000

In [39]:
sleep_stages_nightly.columns

Index(['sleep_date', 'asleep_core', 'asleep_deep', 'asleep_rem',
       'asleep_unspecified'],
      dtype='object', name='sleep_state')

In [40]:
# Merge total sleep with stage breakdown
nightly_sleep_full = nightly_sleep.merge(
    sleep_stages_nightly,
    on="sleep_date",
    how="left"
)

In [41]:
# Recompute total from stages
nightly_sleep_full["stage_sum_check"] = (
    nightly_sleep_full["asleep_core"]
    + nightly_sleep_full["asleep_rem"]
    + nightly_sleep_full["asleep_deep"]
    + nightly_sleep_full["asleep_unspecified"]
)

In [42]:
# Difference between two totals
nightly_sleep_full["sleep_diff"] = (
    nightly_sleep_full["total_sleep_min"]
    - nightly_sleep_full["stage_sum_check"]
)

In [43]:
nightly_sleep_full["sleep_diff"].describe()

count    4.130000e+02
mean    -2.064531e-16
std      5.044393e-15
min     -5.684342e-14
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.684342e-14
Name: sleep_diff, dtype: float64

In [44]:
nightly_sleep_full

,sleep_date,total_sleep_min,asleep_core,asleep_deep,asleep_rem,asleep_unspecified,stage_sum_check,sleep_diff
0,2021-10-06,215.883333,0.000000,0.000000,0.000000,215.883333,215.883333,0.000000e+00
1,2021-10-07,248.950000,0.000000,0.000000,0.000000,248.950000,248.950000,0.000000e+00
2,2021-10-09,525.850000,0.000000,0.000000,0.000000,525.850000,525.850000,0.000000e+00
3,2021-10-10,621.650000,0.000000,0.000000,0.000000,621.650000,621.650000,0.000000e+00
4,2021-10-13,293.850000,0.000000,0.000000,0.000000,293.850000,293.850000,0.000000e+00
...,...,...,...,...,...,...,...,...
408,2025-11-16,179.866667,98.933333,40.983333,39.950000,0.000000,179.866667,0.000000e+00
409,2025-11-18,38.966667,23.983333,14.983333,0.000000,0.000000,38.966667,0.000000e+00
410,2025-11-19,380.533333,246.750000,52.933333,80.850000,0.000000,380.533333,-5.684342e-14
411,2025-11-20,336.633333,229.800000,53.933333,52.900000,0.000000,336.633333,0.000000e+00
412,2025-12-03,280.700000,186.833333,55.950000,37.916667,0.000000,280.700000,0.000000e+00

In [45]:
nightly_sleep_full["sleep_extreme_flag"] = (
    (nightly_sleep_full["total_sleep_min"] < 60)
    | (nightly_sleep_full["total_sleep_min"] > 900)
).astype(int)

nightly_sleep_full["sleep_extreme_flag"].value_counts()

sleep_extreme_flag
0    403
1     10
Name: count, dtype: int64

In [46]:
# In-bed time per night
nightly_in_bed = (
    df_sleep[df_sleep["sleep_state"] == "in_bed"]
    .groupby("sleep_date")["duration_min"]
    .sum()
    .reset_index(name="in_bed_min")
)

In [47]:
nightly_sleep_full = nightly_sleep_full.merge(
    nightly_in_bed,
    on="sleep_date",
    how="left"
)

In [48]:
nightly_sleep_full["sleep_efficiency"] = (
    nightly_sleep_full["total_sleep_min"]
    / nightly_sleep_full["in_bed_min"]
)

In [51]:
nightly_sleep_full.describe()

,total_sleep_min,asleep_core,asleep_deep,asleep_rem,asleep_unspecified,stage_sum_check,sleep_diff,sleep_extreme_flag,in_bed_min,sleep_efficiency
count,413.000000,413.000000,413.000000,413.000000,413.000000,413.000000,4.130000e+02,413.000000,262.000000,262.000000
mean,347.406659,128.117070,37.852663,46.436118,135.000807,347.406659,-2.064531e-16,0.024213,672.314440,0.613965
std,148.517288,114.078838,33.473164,44.322660,199.015696,148.517288,5.044393e-15,0.153897,362.444311,0.264996
min,6.000000,0.000000,0.000000,0.000000,0.000000,6.000000,-5.684342e-14,0.000000,68.983333,0.100152
25%,260.000000,0.000000,0.000000,0.000000,0.000000,260.000000,0.000000e+00,0.000000,435.750000,0.450598
50%,359.000000,149.983333,45.500000,46.000000,0.000000,359.000000,0.000000e+00,0.000000,699.158333,0.494207
75%,434.000000,225.000000,64.500000,83.000000,244.000000,434.000000,0.000000e+00,0.000000,866.354167,0.853559
max,1544.833333,396.000000,129.000000,171.983333,1544.833333,1544.833333,5.684342e-14,1.000000,4225.883333,2.085353

In [52]:
nightly_sleep_full["sleep_efficiency"].describe()

count    262.000000
mean       0.613965
std        0.264996
min        0.100152
25%        0.450598
50%        0.494207
75%        0.853559
max        2.085353
Name: sleep_efficiency, dtype: float64

In [53]:
nightly_sleep_full["sleep_eff_invalid_flag"] = (
    (nightly_sleep_full["sleep_efficiency"] > 1)
    | (nightly_sleep_full["sleep_efficiency"] <= 0)
).astype(int)

nightly_sleep_full["sleep_eff_invalid_flag"].value_counts()

sleep_eff_invalid_flag
0    407
1      6
Name: count, dtype: int64

In [54]:
nightly_sleep_full.loc[
    nightly_sleep_full["sleep_eff_invalid_flag"] == 1,
    "sleep_efficiency"
] = np.nan

In [55]:
nightly_sleep_full["sleep_efficiency"].describe()

count    256.000000
mean       0.591788
std        0.217794
min        0.100152
25%        0.448416
50%        0.492069
75%        0.851221
max        1.000000
Name: sleep_efficiency, dtype: float64

In [56]:
nightly_sleep_full["sleep_date"].value_counts().head()

sleep_date
2021-10-06    1
2024-11-20    1
2024-12-16    1
2024-12-15    1
2024-12-07    1
Name: count, dtype: int64

In [57]:
nightly_sleep_full["total_sleep_min"].describe()

count     413.000000
mean      347.406659
std       148.517288
min         6.000000
25%       260.000000
50%       359.000000
75%       434.000000
max      1544.833333
Name: total_sleep_min, dtype: float64

In [62]:
nightly_sleep_full.head()

,sleep_date,total_sleep_min,asleep_core,asleep_deep,asleep_rem,asleep_unspecified,stage_sum_check,sleep_diff,sleep_extreme_flag,in_bed_min,sleep_efficiency,sleep_eff_invalid_flag
0,2021-10-06,215.883333,0.0,0.0,0.0,215.883333,215.883333,0.0,0,512.966667,0.420853,0
1,2021-10-07,248.950000,0.0,0.0,0.0,248.950000,248.950000,0.0,0,288.983333,0.861468,0
2,2021-10-09,525.850000,0.0,0.0,0.0,525.850000,525.850000,0.0,0,533.983333,0.984769,0
3,2021-10-10,621.650000,0.0,0.0,0.0,621.650000,621.650000,0.0,0,625.983333,0.993078,0
4,2021-10-13,293.850000,0.0,0.0,0.0,293.850000,293.850000,0.0,0,704.983333,0.416818,0

In [65]:
nightly_sleep_full["sleep_diff"].value_counts()

sleep_diff
 0.000000e+00    409
-5.684342e-14      2
-2.842171e-14      1
 5.684342e-14      1
Name: count, dtype: int64

In [66]:
nightly_sleep_full["deep_pct"] = (
    nightly_sleep_full["asleep_deep"] / nightly_sleep_full["total_sleep_min"]
)

nightly_sleep_full["rem_pct"] = (
    nightly_sleep_full["asleep_rem"] / nightly_sleep_full["total_sleep_min"]
)

nightly_sleep_full["core_pct"] = (
    nightly_sleep_full["asleep_core"] / nightly_sleep_full["total_sleep_min"]
)

nightly_sleep_full["unspecified_pct"] = (
    nightly_sleep_full["asleep_unspecified"] / nightly_sleep_full["total_sleep_min"]
)

In [67]:
nightly_sleep_full

,sleep_date,total_sleep_min,asleep_core,asleep_deep,asleep_rem,asleep_unspecified,stage_sum_check,sleep_diff,sleep_extreme_flag,in_bed_min,sleep_efficiency,sleep_eff_invalid_flag,deep_pct,rem_pct,core_pct,unspecified_pct
0,2021-10-06,215.883333,0.000000,0.000000,0.000000,215.883333,215.883333,0.000000e+00,0,512.966667,0.420853,0,0.000000,0.000000,0.000000,1.0
1,2021-10-07,248.950000,0.000000,0.000000,0.000000,248.950000,248.950000,0.000000e+00,0,288.983333,0.861468,0,0.000000,0.000000,0.000000,1.0
2,2021-10-09,525.850000,0.000000,0.000000,0.000000,525.850000,525.850000,0.000000e+00,0,533.983333,0.984769,0,0.000000,0.000000,0.000000,1.0
3,2021-10-10,621.650000,0.000000,0.000000,0.000000,621.650000,621.650000,0.000000e+00,0,625.983333,0.993078,0,0.000000,0.000000,0.000000,1.0
4,2021-10-13,293.850000,0.000000,0.000000,0.000000,293.850000,293.850000,0.000000e+00,0,704.983333,0.416818,0,0.000000,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2025-11-16,179.866667,98.933333,40.983333,39.950000,0.000000,179.866667,0.000000e+00,0,110.983333,NaN,1,0.227854,0.222109,0.550037,0.0
409,2025-11-18,38.966667,23.983333,14.983333,0.000000,0.000000,38.966667,0.000000e+00,1,68.983333,0.564871,0,0.384517,0.000000,0.615483,0.0
410,2025-11-19,380.533333,246.750000,52.933333,80.850000,0.000000,380.533333,-5.684342e-14,0,511.966667,0.743278,0,0.139103,0.212465,0.648432,0.0
411,2025-11-20,336.633333,229.800000,53.933333,52.900000,0.000000,336.633333,0.000000e+00,0,239.983333,NaN,1,0.160214,0.157144,0.682642,0.0
412,2025-12-03,280.700000,186.833333,55.950000,37.916667,0.000000,280.700000,0.000000e+00,0,289.966667,0.968042,0,0.199323,0.135079,0.665598,0.0

In [68]:
nightly_sleep_full["poor_sleep_flag"] = (
    (nightly_sleep_full["total_sleep_min"] < 360) |
    (nightly_sleep_full["sleep_efficiency"] < 0.75)
).astype(int)

In [69]:
nightly_sleep_full

,sleep_date,total_sleep_min,asleep_core,asleep_deep,asleep_rem,asleep_unspecified,stage_sum_check,sleep_diff,sleep_extreme_flag,in_bed_min,sleep_efficiency,sleep_eff_invalid_flag,deep_pct,rem_pct,core_pct,unspecified_pct,poor_sleep_flag
0,2021-10-06,215.883333,0.000000,0.000000,0.000000,215.883333,215.883333,0.000000e+00,0,512.966667,0.420853,0,0.000000,0.000000,0.000000,1.0,1
1,2021-10-07,248.950000,0.000000,0.000000,0.000000,248.950000,248.950000,0.000000e+00,0,288.983333,0.861468,0,0.000000,0.000000,0.000000,1.0,1
2,2021-10-09,525.850000,0.000000,0.000000,0.000000,525.850000,525.850000,0.000000e+00,0,533.983333,0.984769,0,0.000000,0.000000,0.000000,1.0,0
3,2021-10-10,621.650000,0.000000,0.000000,0.000000,621.650000,621.650000,0.000000e+00,0,625.983333,0.993078,0,0.000000,0.000000,0.000000,1.0,0
4,2021-10-13,293.850000,0.000000,0.000000,0.000000,293.850000,293.850000,0.000000e+00,0,704.983333,0.416818,0,0.000000,0.000000,0.000000,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2025-11-16,179.866667,98.933333,40.983333,39.950000,0.000000,179.866667,0.000000e+00,0,110.983333,NaN,1,0.227854,0.222109,0.550037,0.0,1
409,2025-11-18,38.966667,23.983333,14.983333,0.000000,0.000000,38.966667,0.000000e+00,1,68.983333,0.564871,0,0.384517,0.000000,0.615483,0.0,1
410,2025-11-19,380.533333,246.750000,52.933333,80.850000,0.000000,380.533333,-5.684342e-14,0,511.966667,0.743278,0,0.139103,0.212465,0.648432,0.0,1
411,2025-11-20,336.633333,229.800000,53.933333,52.900000,0.000000,336.633333,0.000000e+00,0,239.983333,NaN,1,0.160214,0.157144,0.682642,0.0,1
412,2025-12-03,280.700000,186.833333,55.950000,37.916667,0.000000,280.700000,0.000000e+00,0,289.966667,0.968042,0,0.199323,0.135079,0.665598,0.0,1

In [70]:
nightly_sleep_full["excellent_sleep_flag"] = (
    (nightly_sleep_full["total_sleep_min"] >= 420) &
    (nightly_sleep_full["sleep_efficiency"] >= 0.85)
).astype(int)

In [71]:
nightly_sleep_full

,sleep_date,total_sleep_min,asleep_core,asleep_deep,asleep_rem,asleep_unspecified,stage_sum_check,sleep_diff,sleep_extreme_flag,in_bed_min,sleep_efficiency,sleep_eff_invalid_flag,deep_pct,rem_pct,core_pct,unspecified_pct,poor_sleep_flag,excellent_sleep_flag
0,2021-10-06,215.883333,0.000000,0.000000,0.000000,215.883333,215.883333,0.000000e+00,0,512.966667,0.420853,0,0.000000,0.000000,0.000000,1.0,1,0
1,2021-10-07,248.950000,0.000000,0.000000,0.000000,248.950000,248.950000,0.000000e+00,0,288.983333,0.861468,0,0.000000,0.000000,0.000000,1.0,1,0
2,2021-10-09,525.850000,0.000000,0.000000,0.000000,525.850000,525.850000,0.000000e+00,0,533.983333,0.984769,0,0.000000,0.000000,0.000000,1.0,0,1
3,2021-10-10,621.650000,0.000000,0.000000,0.000000,621.650000,621.650000,0.000000e+00,0,625.983333,0.993078,0,0.000000,0.000000,0.000000,1.0,0,1
4,2021-10-13,293.850000,0.000000,0.000000,0.000000,293.850000,293.850000,0.000000e+00,0,704.983333,0.416818,0,0.000000,0.000000,0.000000,1.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2025-11-16,179.866667,98.933333,40.983333,39.950000,0.000000,179.866667,0.000000e+00,0,110.983333,NaN,1,0.227854,0.222109,0.550037,0.0,1,0
409,2025-11-18,38.966667,23.983333,14.983333,0.000000,0.000000,38.966667,0.000000e+00,1,68.983333,0.564871,0,0.384517,0.000000,0.615483,0.0,1,0
410,2025-11-19,380.533333,246.750000,52.933333,80.850000,0.000000,380.533333,-5.684342e-14,0,511.966667,0.743278,0,0.139103,0.212465,0.648432,0.0,1,0
411,2025-11-20,336.633333,229.800000,53.933333,52.900000,0.000000,336.633333,0.000000e+00,0,239.983333,NaN,1,0.160214,0.157144,0.682642,0.0,1,0
412,2025-12-03,280.700000,186.833333,55.950000,37.916667,0.000000,280.700000,0.000000e+00,0,289.966667,0.968042,0,0.199323,0.135079,0.665598,0.0,1,0

In [72]:
nightly_sleep_full["low_deep_sleep_flag"] = (
    nightly_sleep_full["deep_pct"] < 0.10
).astype(int)

In [73]:
nightly_sleep_full["low_rem_sleep_flag"] = (
    nightly_sleep_full["rem_pct"] < 0.15
).astype(int)

In [74]:
nightly_sleep_full["fragmented_sleep_flag"] = (
    (nightly_sleep_full["sleep_efficiency"] < 0.80) &
    (nightly_sleep_full["in_bed_min"] - nightly_sleep_full["total_sleep_min"] > 90)
).astype(int)

In [75]:
nightly_sleep_full[
    ["deep_pct", "rem_pct", "core_pct", "unspecified_pct"]
].describe()

         deep_pct     rem_pct    core_pct  unspecified_pct
count  413.000000  413.000000  413.000000       413.000000
mean     0.117792    0.127327    0.366094         0.388787
std      0.121167    0.114979    0.296041         0.469077
min      0.000000    0.000000    0.000000         0.000000
25%      0.000000    0.000000    0.000000         0.000000
50%      0.123904    0.151408    0.506091         0.000000
75%      0.191950    0.224462    0.615499         1.000000
max      0.778846    0.518248    1.000000         1.000000

In [76]:
nightly_sleep_full

,sleep_date,total_sleep_min,asleep_core,asleep_deep,asleep_rem,asleep_unspecified,stage_sum_check,sleep_diff,sleep_extreme_flag,in_bed_min,...,sleep_eff_invalid_flag,deep_pct,rem_pct,core_pct,unspecified_pct,poor_sleep_flag,excellent_sleep_flag,low_deep_sleep_flag,low_rem_sleep_flag,fragmented_sleep_flag
0,2021-10-06,215.883333,0.000000,0.000000,0.000000,215.883333,215.883333,0.000000e+00,0,512.966667,...,0,0.000000,0.000000,0.000000,1.0,1,0,1,1,1
1,2021-10-07,248.950000,0.000000,0.000000,0.000000,248.950000,248.950000,0.000000e+00,0,288.983333,...,0,0.000000,0.000000,0.000000,1.0,1,0,1,1,0
2,2021-10-09,525.850000,0.000000,0.000000,0.000000,525.850000,525.850000,0.000000e+00,0,533.983333,...,0,0.000000,0.000000,0.000000,1.0,0,1,1,1,0
3,2021-10-10,621.650000,0.000000,0.000000,0.000000,621.650000,621.650000,0.000000e+00,0,625.983333,...,0,0.000000,0.000000,0.000000,1.0,0,1,1,1,0
4,2021-10-13,293.850000,0.000000,0.000000,0.000000,293.850000,293.850000,0.000000e+00,0,704.983333,...,0,0.000000,0.000000,0.000000,1.0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2025-11-16,179.866667,98.933333,40.983333,39.950000,0.000000,179.866667,0.000000e+00,0,110.983333,...,1,0.227854,0.222109,0.550037,0.0,1,0,0,0,0
409,2025-11-18,38.966667,23.983333,14.983333,0.000000,0.000000,38.966667,0.000000e+00,1,68.983333,...,0,0.384517,0.000000,0.615483,0.0,1,0,0,1,0
410,2025-11-19,380.533333,246.750000,52.933333,80.850000,0.000000,380.533333,-5.684342e-14,0,511.966667,...,0,0.139103,0.212465,0.648432,0.0,1,0,0,0,1
411,2025-11-20,336.633333,229.800000,53.933333,52.900000,0.000000,336.633333,0.000000e+00,0,239.983333,...,1,0.160214,0.157144,0.682642,0.0,1,0,0,0,0
412,2025-12-03,280.700000,186.833333,55.950000,37.916667,0.000000,280.700000,0.000000e+00,0,289.966667,...,0,0.199323,0.135079,0.665598,0.0,1,0,0,1,0

In [77]:
nightly_sleep_full["stage_available_flag"] = (
    nightly_sleep_full["asleep_unspecified"] < nightly_sleep_full["total_sleep_min"]
).astype(int)

In [78]:
nightly_sleep_full

,sleep_date,total_sleep_min,asleep_core,asleep_deep,asleep_rem,asleep_unspecified,stage_sum_check,sleep_diff,sleep_extreme_flag,in_bed_min,...,deep_pct,rem_pct,core_pct,unspecified_pct,poor_sleep_flag,excellent_sleep_flag,low_deep_sleep_flag,low_rem_sleep_flag,fragmented_sleep_flag,stage_available_flag
0,2021-10-06,215.883333,0.000000,0.000000,0.000000,215.883333,215.883333,0.000000e+00,0,512.966667,...,0.000000,0.000000,0.000000,1.0,1,0,1,1,1,0
1,2021-10-07,248.950000,0.000000,0.000000,0.000000,248.950000,248.950000,0.000000e+00,0,288.983333,...,0.000000,0.000000,0.000000,1.0,1,0,1,1,0,0
2,2021-10-09,525.850000,0.000000,0.000000,0.000000,525.850000,525.850000,0.000000e+00,0,533.983333,...,0.000000,0.000000,0.000000,1.0,0,1,1,1,0,0
3,2021-10-10,621.650000,0.000000,0.000000,0.000000,621.650000,621.650000,0.000000e+00,0,625.983333,...,0.000000,0.000000,0.000000,1.0,0,1,1,1,0,0
4,2021-10-13,293.850000,0.000000,0.000000,0.000000,293.850000,293.850000,0.000000e+00,0,704.983333,...,0.000000,0.000000,0.000000,1.0,1,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2025-11-16,179.866667,98.933333,40.983333,39.950000,0.000000,179.866667,0.000000e+00,0,110.983333,...,0.227854,0.222109,0.550037,0.0,1,0,0,0,0,1
409,2025-11-18,38.966667,23.983333,14.983333,0.000000,0.000000,38.966667,0.000000e+00,1,68.983333,...,0.384517,0.000000,0.615483,0.0,1,0,0,1,0,1
410,2025-11-19,380.533333,246.750000,52.933333,80.850000,0.000000,380.533333,-5.684342e-14,0,511.966667,...,0.139103,0.212465,0.648432,0.0,1,0,0,0,1,1
411,2025-11-20,336.633333,229.800000,53.933333,52.900000,0.000000,336.633333,0.000000e+00,0,239.983333,...,0.160214,0.157144,0.682642,0.0,1,0,0,0,0,1
412,2025-12-03,280.700000,186.833333,55.950000,37.916667,0.000000,280.700000,0.000000e+00,0,289.966667,...,0.199323,0.135079,0.665598,0.0,1,0,0,1,0,1

In [80]:
sleep_export_cols = [
    "sleep_date",
    "total_sleep_min",
    "in_bed_min",
    "sleep_efficiency",

    "deep_pct",
    "rem_pct",
    "core_pct",
    "unspecified_pct",
    "stage_available_flag",

    "poor_sleep_flag",
    "excellent_sleep_flag",
    "low_deep_sleep_flag",
    "low_rem_sleep_flag",
    "fragmented_sleep_flag",
    "sleep_extreme_flag",
    "sleep_eff_invalid_flag"
]

daily_sleep_analytics = nightly_sleep_full[sleep_export_cols].copy()

daily_sleep_analytics.to_csv(
    "daily_sleep_analytics.csv",
    index=False
)