In [1]:
import pandas as pd
import numpy as np

df_steps = pd.read_excel("data/raw/steps.xlsx")

In [2]:
df_steps

,type,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,value
0,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:38:29 +0530,2025-02-19 04:42:57 +0530,12
1,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:56:31 +0530,2025-02-19 05:06:07 +0530,1056
2,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:06:48 +0530,2025-02-19 05:15:34 +0530,268
3,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:17:51 +0530,2025-02-19 05:18:35 +0530,90
4,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:18:35 +0530,2025-02-19 05:28:01 +0530,273
...,...,...,...,...,...,...,...,...,...
78922,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 19:43:06 +0530,2025-12-31 19:33:03 +0530,2025-12-31 19:42:58 +0530,193
78923,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 19:53:00 +0530,2025-12-31 19:42:58 +0530,2025-12-31 19:46:29 +0530,203
78924,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 20:46:33 +0530,2025-12-31 20:15:02 +0530,2025-12-31 20:15:12 +0530,17
78925,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2026-01-01 01:10:24 +0530,2026-01-01 00:35:13 +0530,2026-01-01 00:35:16 +0530,2
78926,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2026-01-01 08:09:16 +0530,2026-01-01 07:59:13 +0530,2026-01-01 08:03:59 +0530,158

In [3]:
df_steps.head()

,type,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,value
0,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:38:29 +0530,2025-02-19 04:42:57 +0530,12
1,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:56:31 +0530,2025-02-19 05:06:07 +0530,1056
2,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:06:48 +0530,2025-02-19 05:15:34 +0530,268
3,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:17:51 +0530,2025-02-19 05:18:35 +0530,90
4,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:18:35 +0530,2025-02-19 05:28:01 +0530,273

In [4]:
df_steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78927 entries, 0 to 78926
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   type           78927 non-null  object
 1   sourceName     78927 non-null  object
 2   sourceVersion  78927 non-null  object
 3   device         77485 non-null  object
 4   unit           78927 non-null  object
 5   creationDate   78927 non-null  object
 6   startDate      78927 non-null  object
 7   endDate        78927 non-null  object
 8   value          78927 non-null  int64
dtypes: int64(1), object(8)
memory usage: 5.4+ MB

In [5]:
df_steps.isna().sum()

type                0
sourceName          0
sourceVersion       0
device           1442
unit                0
creationDate        0
startDate           0
endDate             0
value               0
dtype: int64

In [6]:
df_steps["value"].describe()

count    78927.000000
mean       209.575266
std        534.059741
min          1.000000
25%         35.000000
50%        102.000000
75%        276.000000
max      24494.000000
Name: value, dtype: float64

In [7]:
(df_steps["value"] == 0).sum()

np.int64(0)

In [8]:
df_steps["startDate"] = pd.to_datetime(df_steps["startDate"])

In [9]:
df_steps["startDate"].dtype

datetime64[ns, UTC+05:30]

In [10]:
df_steps_sorted = df_steps.sort_values("startDate")

step_time_diffs = df_steps_sorted["startDate"].diff()

step_time_diffs.value_counts().head(10)

startDate
0 days 00:09:59    4152
0 days 00:00:59    2436
0 days 00:10:00    1567
0 days 00:00:01     848
0 days 00:00:02     842
0 days 00:00:03     679
0 days 00:10:02     552
0 days 00:10:04     505
0 days 00:00:00     497
0 days 00:10:07     467
Name: count, dtype: int64

In [11]:
step_time_diffs.dt.total_seconds().median()

607.0

In [12]:
steps_clean = df_steps.copy()

In [14]:
# Negative step values (should be zero)
(steps_clean["value"] < 0).sum()

np.int64(0)

In [16]:
# Very large step bursts (sanity check)
steps_clean["value"].quantile([0.99, 0.995, 0.999])

0.990    1045.000
0.995    1092.000
0.999    8835.996
Name: value, dtype: float64

In [18]:
# Calculate threshold
step_extreme_threshold = steps_clean["value"].quantile(0.999)

# Flag extreme step bursts
steps_clean["step_extreme_flag"] = (
    steps_clean["value"] > step_extreme_threshold
).astype(int)

# Check counts
steps_clean["step_extreme_flag"].value_counts()

step_extreme_flag
0    78848
1       79
Name: count, dtype: int64

In [19]:
steps_clean["type"].value_counts()

type
HKQuantityTypeIdentifierStepCount    78927
Name: count, dtype: int64

In [20]:
# Add standardized metric label
steps_clean["metric"] = "steps"

# Drop verbose type column
steps_clean = steps_clean.drop(columns=["type"])

In [21]:
steps_clean

,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,value,step_extreme_flag,metric
0,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57 +0530,12,0,steps
1,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07 +0530,1056,0,steps
2,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34 +0530,268,0,steps
3,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35 +0530,90,0,steps
4,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01 +0530,273,0,steps
...,...,...,...,...,...,...,...,...,...,...
78922,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 19:43:06 +0530,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58 +0530,193,0,steps
78923,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 19:53:00 +0530,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29 +0530,203,0,steps
78924,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 20:46:33 +0530,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12 +0530,17,0,steps
78925,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2026-01-01 01:10:24 +0530,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16 +0530,2,0,steps
78926,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2026-01-01 08:09:16 +0530,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59 +0530,158,0,steps

In [22]:
steps_clean["sourceName"].value_counts()

sourceName
Hiro’s Apple Watch    28498
iPhone                26607
Sid’s iPhone          11692
iPhone (2)            10688
Zepp Life               789
Zepp                    477
Power Sync              176
Name: count, dtype: int64

In [23]:
steps_clean["sourceName"] = steps_clean["sourceName"].replace({
    "iPhone": "iPhone",
    "Sid’s iPhone": "iPhone",
    "iPhone (2)": "iPhone",
    "Zepp Life": "Mi Smart Band",
    "Zepp": "Amazfit",
    "Power Sync": "Fitbit"
})

In [24]:
steps_clean["sourceName"].value_counts()

sourceName
iPhone                48987
Hiro’s Apple Watch    28498
Mi Smart Band           789
Amazfit                 477
Fitbit                  176
Name: count, dtype: int64

In [25]:
# Unique sourceVersion values per source
steps_clean.groupby("sourceName")["sourceVersion"].unique()

sourceName
Amazfit               [202510161629, 202510291354, 202511151142, 202...
Fitbit                                                              [1]
Hiro’s Apple Watch    [11.0.1, 10.3, 11.0, 10.2, 9.0, 11.3.1, 11.5, ...
Mi Smart Band                              [202109271829, 202110181330]
iPhone                [18.3.1, 18.3, 18.1, 18.0.1, 18.1.1, 18.2, 18....
Name: sourceVersion, dtype: object

In [26]:
# Number of unique versions per source
steps_clean.groupby("sourceName")["sourceVersion"].nunique()

sourceName
Amazfit                4
Fitbit                 1
Hiro’s Apple Watch    10
Mi Smart Band          2
iPhone                38
Name: sourceVersion, dtype: int64

In [27]:
steps_clean[["sourceName", "sourceVersion"]].drop_duplicates().sort_values(
    ["sourceName", "sourceVersion"]
)

               sourceName sourceVersion
76112             Amazfit  202510161629
76338             Amazfit  202510291354
77309             Amazfit  202511151142
77901             Amazfit  202511201645
34733              Fitbit             1
21804  Hiro’s Apple Watch          10.2
7600   Hiro’s Apple Watch          10.3
16960  Hiro’s Apple Watch          11.0
11     Hiro’s Apple Watch        11.0.1
63477  Hiro’s Apple Watch        11.3.1
69381  Hiro’s Apple Watch          11.5
72024  Hiro’s Apple Watch          11.6
73106  Hiro’s Apple Watch          26.0
74886  Hiro’s Apple Watch        26.0.2
37607  Hiro’s Apple Watch           9.0
59947       Mi Smart Band  202109271829
60250       Mi Smart Band  202110181330
30342              iPhone          16.0
30509              iPhone        16.1.2
31012              iPhone          16.2
34402              iPhone        16.3.1
35196              iPhone          16.4
22303              iPhone          16.5
23539              iPhone        16.5.1
22878              iPhone          16.6
27147              iPhone        16.6.1
22230              iPhone          17.0
27869              iPhone        17.0.1
28082              iPhone        17.0.2
28405              iPhone        17.0.3
52569              iPhone        17.1.1
52852              iPhone        17.1.2
53198              iPhone          17.2
53657              iPhone        17.2.1
56563              iPhone        17.3.1
7615               iPhone        17.4.1
8672               iPhone        17.5.1
15665              iPhone        17.6.1
16938              iPhone          18.0
738                iPhone        18.0.1
729                iPhone          18.1
1624               iPhone        18.1.1
3788               iPhone          18.2
4942               iPhone        18.2.1
18                 iPhone          18.3
0                  iPhone        18.3.1
63258              iPhone        18.3.2
66759              iPhone        18.4.1
68116              iPhone          18.5
71698              iPhone          18.6
72068              iPhone        18.6.1
72121              iPhone        18.6.2
73095              iPhone          26.0
74753              iPhone        26.0.1
77107              iPhone          26.1

In [28]:
# Ensure datetime
steps_clean.loc[:, "startDate"] = pd.to_datetime(steps_clean["startDate"])

# Create date column
steps_clean.loc[:, "date"] = steps_clean["startDate"].dt.date

In [29]:
ACTIVE_STEP_THRESHOLD = 60      # active interval
SEDENTARY_STEP_THRESHOLD = 10   # very low movement

In [30]:
daily_steps = (
    steps_clean
    .groupby("date")
    .agg(
        total_steps=("value", "sum"),
        active_minutes=("value", lambda x: (x >= ACTIVE_STEP_THRESHOLD).sum()),
        sedentary_minutes=("value", lambda x: (x <= SEDENTARY_STEP_THRESHOLD).sum()),
        step_variability=("value", "std"),
    )
    .reset_index()
)

In [31]:
daily_steps.head()

,date,total_steps,active_minutes,sedentary_minutes,step_variability
0,2021-10-06,6884,24,0,230.233339
1,2021-10-07,8421,39,2,110.634669
2,2021-10-08,12032,56,6,180.868143
3,2021-10-09,8443,34,3,156.597626
4,2021-10-10,4885,20,4,175.847017

In [32]:
daily_steps.describe()

        total_steps  active_minutes  sedentary_minutes  step_variability
count   1383.000000     1383.000000        1383.000000       1215.000000
mean   11960.337672       36.231381           4.062184        208.458899
std     9085.571431       30.229632           5.305068        207.013154
min        4.000000        0.000000           0.000000         15.299737
25%     4548.000000       14.500000           1.000000        150.907655
50%     9665.000000       28.000000           2.000000        203.310945
75%    17493.000000       51.000000           5.000000        237.061704
max    44492.000000      150.000000          49.000000       3942.021019

In [33]:
daily_steps.isna().sum()

date                   0
total_steps            0
active_minutes         0
sedentary_minutes      0
step_variability     168
dtype: int64

In [34]:
daily_steps.loc[
    daily_steps["total_steps"].idxmax()
]

date                 2025-10-06
total_steps               44492
active_minutes              114
sedentary_minutes            49
step_variability     253.203048
Name: 1295, dtype: object

In [49]:
daily_steps

,date,total_steps,active_minutes,sedentary_minutes,step_variability
0,2021-10-06,6884,24,0,230.233339
1,2021-10-07,8421,39,2,110.634669
2,2021-10-08,12032,56,6,180.868143
3,2021-10-09,8443,34,3,156.597626
4,2021-10-10,4885,20,4,175.847017
...,...,...,...,...,...
1378,2025-12-28,7705,38,6,98.777972
1379,2025-12-29,2279,14,2,88.142951
1380,2025-12-30,2112,11,4,67.524076
1381,2025-12-31,2309,13,0,74.756761
1382,2026-01-01,160,1,1,110.308658

In [50]:
STEP_EXTREME_THRESHOLD = daily_steps["total_steps"].quantile(0.995)

daily_steps["step_extreme_flag"] = (
    daily_steps["total_steps"] > STEP_EXTREME_THRESHOLD
).astype(int)

In [51]:
daily_steps["step_extreme_flag"].value_counts()

step_extreme_flag
0    1376
1       7
Name: count, dtype: int64

In [52]:
extreme_step_days = daily_steps[
    daily_steps["step_extreme_flag"] == 1
]

In [53]:
extreme_step_days

,date,total_steps,active_minutes,sedentary_minutes,step_variability,step_extreme_flag
187,2022-09-24,40696,150,43,168.531783,1
634,2023-12-15,39864,124,9,233.611326,1
716,2024-03-06,37750,146,16,186.584864,1
870,2024-08-07,39971,118,11,238.851807,1
955,2024-10-31,40990,118,5,222.152695,1
982,2024-11-27,43157,134,15,216.197073,1
1295,2025-10-06,44492,114,49,253.203048,1

In [54]:
daily_steps

,date,total_steps,active_minutes,sedentary_minutes,step_variability,step_extreme_flag
0,2021-10-06,6884,24,0,230.233339,0
1,2021-10-07,8421,39,2,110.634669,0
2,2021-10-08,12032,56,6,180.868143,0
3,2021-10-09,8443,34,3,156.597626,0
4,2021-10-10,4885,20,4,175.847017,0
...,...,...,...,...,...,...
1378,2025-12-28,7705,38,6,98.777972,0
1379,2025-12-29,2279,14,2,88.142951,0
1380,2025-12-30,2112,11,4,67.524076,0
1381,2025-12-31,2309,13,0,74.756761,0
1382,2026-01-01,160,1,1,110.308658,0

In [57]:
steps_clean["sourceName"].value_counts()

sourceName
iPhone                48987
Hiro’s Apple Watch    28498
Mi Smart Band           789
Amazfit                 477
Fitbit                  176
Name: count, dtype: int64

In [58]:
steps_clean

,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,value,step_extreme_flag,metric,date
0,iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57 +0530,12,0,steps,2025-02-19
1,iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07 +0530,1056,0,steps,2025-02-19
2,iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34 +0530,268,0,steps,2025-02-19
3,iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35 +0530,90,0,steps,2025-02-19
4,iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01 +0530,273,0,steps,2025-02-19
...,...,...,...,...,...,...,...,...,...,...,...
78922,iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 19:43:06 +0530,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58 +0530,193,0,steps,2025-12-31
78923,iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 19:53:00 +0530,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29 +0530,203,0,steps,2025-12-31
78924,iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 20:46:33 +0530,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12 +0530,17,0,steps,2025-12-31
78925,iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2026-01-01 01:10:24 +0530,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16 +0530,2,0,steps,2026-01-01
78926,iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2026-01-01 08:09:16 +0530,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59 +0530,158,0,steps,2026-01-01

In [59]:
steps_clean = steps_clean.drop(columns=["device"])

In [60]:
steps_clean

,sourceName,sourceVersion,unit,creationDate,startDate,endDate,value,step_extreme_flag,metric,date
0,iPhone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57 +0530,12,0,steps,2025-02-19
1,iPhone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07 +0530,1056,0,steps,2025-02-19
2,iPhone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34 +0530,268,0,steps,2025-02-19
3,iPhone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35 +0530,90,0,steps,2025-02-19
4,iPhone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01 +0530,273,0,steps,2025-02-19
...,...,...,...,...,...,...,...,...,...,...
78922,iPhone,26.1,count,2025-12-31 19:43:06 +0530,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58 +0530,193,0,steps,2025-12-31
78923,iPhone,26.1,count,2025-12-31 19:53:00 +0530,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29 +0530,203,0,steps,2025-12-31
78924,iPhone,26.1,count,2025-12-31 20:46:33 +0530,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12 +0530,17,0,steps,2025-12-31
78925,iPhone,26.1,count,2026-01-01 01:10:24 +0530,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16 +0530,2,0,steps,2026-01-01
78926,iPhone,26.1,count,2026-01-01 08:09:16 +0530,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59 +0530,158,0,steps,2026-01-01

In [78]:
steps_clean["sourceName"] = (
    steps_clean["sourceName"]
    .str.replace("\xa0", " ", regex=False)   # remove non-breaking space
    .str.replace("’", "'", regex=False)      # normalize apostrophe
    .str.strip()                             # trim spaces
    .str.lower()                             # normalize case
)

In [79]:
source_priority = {
    "hiro's apple watch": 1,
    "iphone": 2,
    "mi smart band": 3,
    "amazfit": 3,
    "fitbit": 3
}

steps_clean["source_rank"] = steps_clean["sourceName"].map(source_priority)

In [80]:
steps_clean[["sourceName", "source_rank"]].drop_duplicates()

               sourceName  source_rank
0                  iphone            2
11     hiro's apple watch            1
34733              fitbit            3
59947       mi smart band            3
76112             amazfit            3

In [81]:
steps_clean["source_rank"].isna().sum()

np.int64(0)

In [82]:
steps_dedup = (
    steps_clean
    .sort_values("source_rank")
    .drop_duplicates(subset=["startDate"], keep="first")
)

In [83]:
daily_steps_canonical = (
    steps_dedup
    .groupby("date")
    .agg(
        total_steps=("value", "sum"),
        active_minutes=("value", lambda x: (x >= ACTIVE_STEP_THRESHOLD).sum()),
        sedentary_minutes=("value", lambda x: (x <= SEDENTARY_STEP_THRESHOLD).sum()),
        step_variability=("value", "std"),
    )
    .reset_index()
)

In [86]:
daily_steps_canonical.loc[
    daily_steps_canonical["date"] == pd.to_datetime("2024-10-31").date()
]

,date,total_steps,active_minutes,sedentary_minutes,step_variability
955,2024-10-31,40990,118,5,222.152695

In [99]:
extreme_dates = daily_steps.loc[
    daily_steps["step_extreme_flag"] == 1,
    "date"
].sort_values().tolist()

extreme_dates

[datetime.date(2022, 9, 24),
 datetime.date(2023, 12, 15),
 datetime.date(2024, 3, 6),
 datetime.date(2024, 8, 7),
 datetime.date(2024, 10, 31),
 datetime.date(2024, 11, 27),
 datetime.date(2025, 10, 6)]

In [100]:
steps_7day_source = (
    steps_clean
    .loc[steps_clean["date"].isin(extreme_dates)]
    .groupby(["date", "sourceName"])
    .agg(
        total_steps=("value", "sum"),
        intervals=("value", "count"),
        avg_steps=("value", "mean")
    )
    .reset_index()
    .sort_values(["date", "total_steps"], ascending=[True, False])
)

steps_7day_source

          date          sourceName  total_steps  intervals   avg_steps
1   2022-09-24              iphone        21110         66  319.848485
0   2022-09-24  hiro's apple watch        19586        294   66.619048
2   2023-12-15  hiro's apple watch        20893        116  180.112069
3   2023-12-15              iphone        18971         65  291.861538
4   2024-03-06  hiro's apple watch        20942        191  109.643979
5   2024-03-06              iphone        16808         59  284.881356
6   2024-08-07  hiro's apple watch        21557        101  213.435644
7   2024-08-07              iphone        18414         62  297.000000
8   2024-10-31  hiro's apple watch        22440        101  222.178218
9   2024-10-31              iphone        18550         58  319.827586
10  2024-11-27  hiro's apple watch        22658        135  167.837037
11  2024-11-27              iphone        20499         67  305.955224
13  2025-10-06              iphone        28623        127  225.377953
12  2025-10-06  hiro's apple watch        15869         51  311.156863

In [101]:
daily_steps_by_source = (
    steps_clean
    .groupby(["date", "sourceName"])
    .agg(
        total_steps=("value", "sum"),
        intervals=("value", "count")
    )
    .reset_index()
)

In [102]:
dominant_source_per_day = (
    daily_steps_by_source
    .sort_values(["date", "intervals"], ascending=[True, False])
    .drop_duplicates(subset=["date"], keep="first")
)

In [103]:
daily_steps_canonical = dominant_source_per_day.rename(columns={
    "total_steps": "canonical_steps",
    "sourceName": "canonical_source"
})[["date", "canonical_source", "canonical_steps", "intervals"]]

In [104]:
daily_steps_canonical.loc[
    daily_steps_canonical["date"].isin(extreme_dates)
].sort_values("canonical_steps", ascending=False)

            date    canonical_source  canonical_steps  intervals
1759  2025-10-06              iphone            28623        127
1265  2024-11-27  hiro's apple watch            22658        135
1220  2024-10-31  hiro's apple watch            22440        101
1072  2024-08-07  hiro's apple watch            21557        101
817   2024-03-06  hiro's apple watch            20942        191
654   2023-12-15  hiro's apple watch            20893        116
191   2022-09-24  hiro's apple watch            19586        294

In [105]:
steps_clean

,sourceName,sourceVersion,unit,creationDate,startDate,endDate,value,step_extreme_flag,metric,date,source_rank,time_bucket
0,iphone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57 +0530,12,0,steps,2025-02-19,2,2025-02-19 04:38:00+05:30
1,iphone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07 +0530,1056,0,steps,2025-02-19,2,2025-02-19 04:56:00+05:30
2,iphone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34 +0530,268,0,steps,2025-02-19,2,2025-02-19 05:06:00+05:30
3,iphone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35 +0530,90,0,steps,2025-02-19,2,2025-02-19 05:17:00+05:30
4,iphone,18.3.1,count,2025-02-19 06:42:23 +0530,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01 +0530,273,0,steps,2025-02-19,2,2025-02-19 05:18:00+05:30
...,...,...,...,...,...,...,...,...,...,...,...,...
78922,iphone,26.1,count,2025-12-31 19:43:06 +0530,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58 +0530,193,0,steps,2025-12-31,2,2025-12-31 19:33:00+05:30
78923,iphone,26.1,count,2025-12-31 19:53:00 +0530,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29 +0530,203,0,steps,2025-12-31,2,2025-12-31 19:42:00+05:30
78924,iphone,26.1,count,2025-12-31 20:46:33 +0530,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12 +0530,17,0,steps,2025-12-31,2,2025-12-31 20:15:00+05:30
78925,iphone,26.1,count,2026-01-01 01:10:24 +0530,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16 +0530,2,0,steps,2026-01-01,2,2026-01-01 00:35:00+05:30
78926,iphone,26.1,count,2026-01-01 08:09:16 +0530,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59 +0530,158,0,steps,2026-01-01,2,2026-01-01 07:59:00+05:30

In [106]:
daily_steps_by_source

            date     sourceName  total_steps  intervals
0     2021-10-06  mi smart band         6884         41
1     2021-10-07  mi smart band         8421         66
2     2021-10-08  mi smart band        12032         82
3     2021-10-09  mi smart band         8443         65
4     2021-10-10  mi smart band         4885         50
...          ...            ...          ...        ...
1879  2025-12-28         iphone         7705         77
1880  2025-12-29         iphone         2279         29
1881  2025-12-30         iphone         2112         34
1882  2025-12-31         iphone         2309         25
1883  2026-01-01         iphone          160          2

[1884 rows x 4 columns]

In [107]:
daily_steps_canonical

            date canonical_source  canonical_steps  intervals
0     2021-10-06    mi smart band             6884         41
1     2021-10-07    mi smart band             8421         66
2     2021-10-08    mi smart band            12032         82
3     2021-10-09    mi smart band             8443         65
4     2021-10-10    mi smart band             4885         50
...          ...              ...              ...        ...
1879  2025-12-28           iphone             7705         77
1880  2025-12-29           iphone             2279         29
1881  2025-12-30           iphone             2112         34
1882  2025-12-31           iphone             2309         25
1883  2026-01-01           iphone              160          2

[1383 rows x 4 columns]

In [108]:
steps_clean_v1 = steps_clean.copy()

In [109]:
steps_clean = df_steps.copy()

In [110]:
steps_clean

,type,sourceName,sourceVersion,device,unit,creationDate,startDate,endDate,value
0,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57 +0530,12
1,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07 +0530,1056
2,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34 +0530,268
3,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35 +0530,90
4,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,18.3.1,"<<HKDevice: 0x6ca009080>, name:iPhone, manufac...",count,2025-02-19 06:42:23 +0530,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01 +0530,273
...,...,...,...,...,...,...,...,...,...
78922,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 19:43:06 +0530,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58 +0530,193
78923,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 19:53:00 +0530,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29 +0530,203
78924,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2025-12-31 20:46:33 +0530,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12 +0530,17
78925,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2026-01-01 01:10:24 +0530,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16 +0530,2
78926,HKQuantityTypeIdentifierStepCount,Sid’s iPhone,26.1,"<<HKDevice: 0x6ca00a580>, name:iPhone, manufac...",count,2026-01-01 08:09:16 +0530,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59 +0530,158

In [114]:
steps_clean = df_steps[
    [
        "startDate",
        "endDate",
        "value",
        "sourceName",
        "sourceVersion"
    ]
].copy()

In [115]:
steps_clean

,startDate,endDate,value,sourceName,sourceVersion
0,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57 +0530,12,Sid’s iPhone,18.3.1
1,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07 +0530,1056,Sid’s iPhone,18.3.1
2,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34 +0530,268,Sid’s iPhone,18.3.1
3,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35 +0530,90,Sid’s iPhone,18.3.1
4,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01 +0530,273,Sid’s iPhone,18.3.1
...,...,...,...,...,...
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58 +0530,193,Sid’s iPhone,26.1
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29 +0530,203,Sid’s iPhone,26.1
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12 +0530,17,Sid’s iPhone,26.1
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16 +0530,2,Sid’s iPhone,26.1
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59 +0530,158,Sid’s iPhone,26.1

In [116]:
steps_clean["startDate"] = pd.to_datetime(steps_clean["startDate"])
steps_clean["endDate"] = pd.to_datetime(steps_clean["endDate"])

steps_clean["date"] = steps_clean["startDate"].dt.date

In [117]:
steps_clean

,startDate,endDate,value,sourceName,sourceVersion,date
0,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57+05:30,12,Sid’s iPhone,18.3.1,2025-02-19
1,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07+05:30,1056,Sid’s iPhone,18.3.1,2025-02-19
2,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34+05:30,268,Sid’s iPhone,18.3.1,2025-02-19
3,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35+05:30,90,Sid’s iPhone,18.3.1,2025-02-19
4,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01+05:30,273,Sid’s iPhone,18.3.1,2025-02-19
...,...,...,...,...,...,...
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58+05:30,193,Sid’s iPhone,26.1,2025-12-31
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29+05:30,203,Sid’s iPhone,26.1,2025-12-31
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12+05:30,17,Sid’s iPhone,26.1,2025-12-31
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16+05:30,2,Sid’s iPhone,26.1,2026-01-01
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59+05:30,158,Sid’s iPhone,26.1,2026-01-01

In [118]:
steps_clean.isna().sum()

startDate        0
endDate          0
value            0
sourceName       0
sourceVersion    0
date             0
dtype: int64

In [119]:
steps_clean["value"].describe()

count    78927.000000
mean       209.575266
std        534.059741
min          1.000000
25%         35.000000
50%        102.000000
75%        276.000000
max      24494.000000
Name: value, dtype: float64

In [120]:
(steps_clean["value"] > 5000).sum()

np.int64(109)

In [128]:
high_step_intervals = steps_clean[
    steps_clean["value"] > 5000
]

high_step_intervals.shape

(109, 6)

In [129]:
high_step_intervals["sourceName"].value_counts()

sourceName
Fitbit    109
Name: count, dtype: int64

In [130]:
steps_clean["sourceName"].value_counts()

sourceName
iPhone                48987
Hiro’s Apple Watch    28498
Mi Smart Band           789
Amazfit                 477
Fitbit                  176
Name: count, dtype: int64

In [125]:
steps_clean["sourceName"] = steps_clean["sourceName"].replace({
    "iPhone": "iPhone",
    "Sid’s iPhone": "iPhone",
    "iPhone (2)": "iPhone",
    "Zepp Life": "Mi Smart Band",
    "Zepp": "Amazfit",
    "Power Sync": "Fitbit"
})

In [126]:
steps_clean["sourceName"].value_counts()

sourceName
iPhone                48987
Hiro’s Apple Watch    28498
Mi Smart Band           789
Amazfit                 477
Fitbit                  176
Name: count, dtype: int64

In [131]:
high_step_intervals["sourceName"].value_counts()

sourceName
Fitbit    109
Name: count, dtype: int64

In [132]:
steps_clean

,startDate,endDate,value,sourceName,sourceVersion,date
0,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57+05:30,12,iPhone,18.3.1,2025-02-19
1,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07+05:30,1056,iPhone,18.3.1,2025-02-19
2,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34+05:30,268,iPhone,18.3.1,2025-02-19
3,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35+05:30,90,iPhone,18.3.1,2025-02-19
4,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01+05:30,273,iPhone,18.3.1,2025-02-19
...,...,...,...,...,...,...
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58+05:30,193,iPhone,26.1,2025-12-31
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29+05:30,203,iPhone,26.1,2025-12-31
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12+05:30,17,iPhone,26.1,2025-12-31
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16+05:30,2,iPhone,26.1,2026-01-01
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59+05:30,158,iPhone,26.1,2026-01-01

In [133]:
steps_clean["is_batched_sync"] = (
    (steps_clean["sourceName"] == "Fitbit") &
    (steps_clean["value"] > 5000)
).astype(int)

In [134]:
steps_clean["is_batched_sync"].value_counts()

is_batched_sync
0    78818
1      109
Name: count, dtype: int64

In [135]:
steps_clean_valid = steps_clean[
    steps_clean["is_batched_sync"] == 0
]

In [136]:
steps_clean_valid

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync
0,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57+05:30,12,iPhone,18.3.1,2025-02-19,0
1,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07+05:30,1056,iPhone,18.3.1,2025-02-19,0
2,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34+05:30,268,iPhone,18.3.1,2025-02-19,0
3,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35+05:30,90,iPhone,18.3.1,2025-02-19,0
4,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01+05:30,273,iPhone,18.3.1,2025-02-19,0
...,...,...,...,...,...,...,...
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58+05:30,193,iPhone,26.1,2025-12-31,0
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29+05:30,203,iPhone,26.1,2025-12-31,0
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12+05:30,17,iPhone,26.1,2025-12-31,0
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16+05:30,2,iPhone,26.1,2026-01-01,0
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59+05:30,158,iPhone,26.1,2026-01-01,0

In [137]:
steps_clean

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync
0,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57+05:30,12,iPhone,18.3.1,2025-02-19,0
1,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07+05:30,1056,iPhone,18.3.1,2025-02-19,0
2,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34+05:30,268,iPhone,18.3.1,2025-02-19,0
3,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35+05:30,90,iPhone,18.3.1,2025-02-19,0
4,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01+05:30,273,iPhone,18.3.1,2025-02-19,0
...,...,...,...,...,...,...,...
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58+05:30,193,iPhone,26.1,2025-12-31,0
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29+05:30,203,iPhone,26.1,2025-12-31,0
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12+05:30,17,iPhone,26.1,2025-12-31,0
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16+05:30,2,iPhone,26.1,2026-01-01,0
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59+05:30,158,iPhone,26.1,2026-01-01,0

In [138]:
# Number of unique versions per source
steps_clean.groupby("sourceName")["sourceVersion"].nunique()

sourceName
Amazfit                4
Fitbit                 1
Hiro’s Apple Watch    10
Mi Smart Band          2
iPhone                38
Name: sourceVersion, dtype: int64

In [139]:
high_step_intervals #Power Sync app (fitbit)

,startDate,endDate,value,sourceName,sourceVersion,date
34733,2023-03-14 09:30:00+05:30,2023-03-15 08:30:00+05:30,11699,Fitbit,1,2023-03-14
34734,2023-03-15 09:30:00+05:30,2023-03-16 08:30:00+05:30,18548,Fitbit,1,2023-03-15
34735,2023-03-16 09:30:00+05:30,2023-03-17 08:30:00+05:30,24494,Fitbit,1,2023-03-16
34736,2023-03-17 09:30:00+05:30,2023-03-18 08:30:00+05:30,15404,Fitbit,1,2023-03-17
34781,2023-03-20 09:30:00+05:30,2023-03-21 08:30:00+05:30,19433,Fitbit,1,2023-03-20
...,...,...,...,...,...,...
60742,2021-11-23 10:30:00+05:30,2021-11-24 09:30:00+05:30,13282,Fitbit,1,2021-11-23
60743,2021-11-25 10:30:00+05:30,2021-11-26 09:30:00+05:30,5711,Fitbit,1,2021-11-25
60744,2021-11-26 10:30:00+05:30,2021-11-27 09:30:00+05:30,10038,Fitbit,1,2021-11-26
60745,2021-11-27 10:30:00+05:30,2021-11-28 09:30:00+05:30,7480,Fitbit,1,2021-11-27
60746,2021-11-28 10:30:00+05:30,2021-11-29 09:30:00+05:30,10329,Fitbit,1,2021-11-28

In [140]:
daily_steps_canonical

            date canonical_source  canonical_steps  intervals
0     2021-10-06    mi smart band             6884         41
1     2021-10-07    mi smart band             8421         66
2     2021-10-08    mi smart band            12032         82
3     2021-10-09    mi smart band             8443         65
4     2021-10-10    mi smart band             4885         50
...          ...              ...              ...        ...
1879  2025-12-28           iphone             7705         77
1880  2025-12-29           iphone             2279         29
1881  2025-12-30           iphone             2112         34
1882  2025-12-31           iphone             2309         25
1883  2026-01-01           iphone              160          2

[1383 rows x 4 columns]

In [141]:
daily_steps_by_source

            date     sourceName  total_steps  intervals
0     2021-10-06  mi smart band         6884         41
1     2021-10-07  mi smart band         8421         66
2     2021-10-08  mi smart band        12032         82
3     2021-10-09  mi smart band         8443         65
4     2021-10-10  mi smart band         4885         50
...          ...            ...          ...        ...
1879  2025-12-28         iphone         7705         77
1880  2025-12-29         iphone         2279         29
1881  2025-12-30         iphone         2112         34
1882  2025-12-31         iphone         2309         25
1883  2026-01-01         iphone          160          2

[1884 rows x 4 columns]

In [142]:
daily_steps_interval = (
    steps_clean
    .loc[steps_clean["is_batched_sync"] == 0]
    .groupby(["date", "sourceName"])
    .agg(
        total_steps=("value", "sum"),
        intervals=("value", "count")
    )
    .reset_index()
)

In [143]:
daily_steps_interval

            date     sourceName  total_steps  intervals
0     2021-10-06  Mi Smart Band         6884         41
1     2021-10-07  Mi Smart Band         8421         66
2     2021-10-08  Mi Smart Band        12032         82
3     2021-10-09  Mi Smart Band         8443         65
4     2021-10-10  Mi Smart Band         4885         50
...          ...            ...          ...        ...
1770  2025-12-28         iPhone         7705         77
1771  2025-12-29         iPhone         2279         29
1772  2025-12-30         iPhone         2112         34
1773  2025-12-31         iPhone         2309         25
1774  2026-01-01         iPhone          160          2

[1775 rows x 4 columns]

In [147]:
daily_steps_fitbit = (
    steps_clean
    .loc[
        (steps_clean["sourceName"] == "Fitbit") &
        (steps_clean["is_batched_sync"] == 1)
    ]
    .groupby("date")
    .agg(
        total_steps=("value", "sum")
    )
    .assign(
        sourceName="Fitbit",
        intervals=pd.NA   # intervals meaningless here
    )
    .reset_index()
)

In [148]:
daily_steps_fitbit

           date  total_steps sourceName intervals
0    2021-11-18        11976     Fitbit      <NA>
1    2021-11-19         5721     Fitbit      <NA>
2    2021-11-20         8373     Fitbit      <NA>
3    2021-11-21         6619     Fitbit      <NA>
4    2021-11-22         9632     Fitbit      <NA>
..          ...          ...        ...       ...
104  2023-03-14        11699     Fitbit      <NA>
105  2023-03-15        18548     Fitbit      <NA>
106  2023-03-16        24494     Fitbit      <NA>
107  2023-03-17        15404     Fitbit      <NA>
108  2023-03-20        19433     Fitbit      <NA>

[109 rows x 4 columns]

In [149]:
daily_steps_by_source = pd.concat(
    [daily_steps_interval, daily_steps_fitbit],
    ignore_index=True
)

In [150]:
daily_steps_by_source

            date     sourceName  total_steps intervals
0     2021-10-06  Mi Smart Band         6884        41
1     2021-10-07  Mi Smart Band         8421        66
2     2021-10-08  Mi Smart Band        12032        82
3     2021-10-09  Mi Smart Band         8443        65
4     2021-10-10  Mi Smart Band         4885        50
...          ...            ...          ...       ...
1879  2023-03-14         Fitbit        11699      <NA>
1880  2023-03-15         Fitbit        18548      <NA>
1881  2023-03-16         Fitbit        24494      <NA>
1882  2023-03-17         Fitbit        15404      <NA>
1883  2023-03-20         Fitbit        19433      <NA>

[1884 rows x 4 columns]

In [151]:
def choose_canonical(group):
    interval_sources = group.dropna(subset=["intervals"])

    if not interval_sources.empty:
        return interval_sources.sort_values("intervals", ascending=False).iloc[0]
    else:
        return group.iloc[0]  # Fitbit-only day

In [154]:
daily_steps_canonical = (
    daily_steps_by_source
    .groupby("date")[["sourceName", "total_steps", "intervals"]]
    .apply(choose_canonical)
    .rename(columns={
        "sourceName": "canonical_source",
        "total_steps": "canonical_steps"
    })
    .reset_index()
)

In [155]:
daily_steps_canonical

            date canonical_source  canonical_steps intervals
0     2021-10-06    Mi Smart Band             6884        41
1     2021-10-07    Mi Smart Band             8421        66
2     2021-10-08    Mi Smart Band            12032        82
3     2021-10-09    Mi Smart Band             8443        65
4     2021-10-10    Mi Smart Band             4885        50
...          ...              ...              ...       ...
1378  2025-12-28           iPhone             7705        77
1379  2025-12-29           iPhone             2279        29
1380  2025-12-30           iPhone             2112        34
1381  2025-12-31           iPhone             2309        25
1382  2026-01-01           iPhone              160         2

[1383 rows x 4 columns]

In [156]:
daily_steps_canonical.sort_values("canonical_steps", ascending=False).head(10)

            date    canonical_source  canonical_steps intervals
1295  2025-10-06              iPhone            28623       127
326   2023-02-10              iPhone            27646        72
977   2024-11-22              iPhone            24416        63
351   2023-03-07              iPhone            23662        68
353   2023-03-09              iPhone            23271        59
546   2023-09-18              iPhone            22936        69
982   2024-11-27  Hiro’s Apple Watch            22658       135
368   2023-03-24              iPhone            22658        66
146   2022-07-13              Fitbit            22592      <NA>
153   2022-07-22              Fitbit            22514      <NA>

In [157]:
daily_steps_canonical["canonical_steps"].describe()

count     1383.000000
mean      8897.087491
std       5502.532008
min          4.000000
25%       4192.000000
50%       8340.000000
75%      12907.500000
max      28623.000000
Name: canonical_steps, dtype: float64

In [158]:
daily_steps_canonical["source_type"] = np.where(
    daily_steps_canonical["canonical_source"].str.contains("Fitbit", case=False, na=False),
    "aggregated",
    "granular"
)

In [160]:
daily_steps_canonical["source_type"].value_counts()

source_type
granular      1215
aggregated     168
Name: count, dtype: int64

In [165]:
from datetime import date

validate_window = daily_steps_canonical[
    (daily_steps_canonical["date"] >= date(2025, 6, 14)) &
    (daily_steps_canonical["date"] <= date(2025, 6, 25))
].sort_values("date")

In [166]:
validate_window

            date    canonical_source  canonical_steps intervals source_type
1181  2025-06-14  Hiro’s Apple Watch             9000        52    granular
1182  2025-06-15              iPhone             9539        42    granular
1183  2025-06-16  Hiro’s Apple Watch             8901        53    granular
1184  2025-06-17  Hiro’s Apple Watch            10720        44    granular
1185  2025-06-18              iPhone             1627        26    granular
1186  2025-06-19              iPhone            13926        39    granular
1187  2025-06-20  Hiro’s Apple Watch             9277        40    granular
1188  2025-06-21  Hiro’s Apple Watch            10870        50    granular
1189  2025-06-22  Hiro’s Apple Watch             8957        33    granular
1190  2025-06-23  Hiro’s Apple Watch             8744        65    granular
1191  2025-06-24  Hiro’s Apple Watch            11727        40    granular
1192  2025-06-25  Hiro’s Apple Watch            10839        68    granular

In [167]:
steps_clean_daily = (
    steps_clean
    .groupby("date", as_index=False)["value"]
    .sum()
    .rename(columns={"value": "steps_clean_total"})
)

steps_clean_daily[
    (steps_clean_daily["date"] >= date(2025, 6, 14)) &
    (steps_clean_daily["date"] <= date(2025, 6, 25))
].sort_values("date")

            date  steps_clean_total
1181  2025-06-14              20691
1182  2025-06-15              14051
1183  2025-06-16              10854
1184  2025-06-17              21213
1185  2025-06-18               8171
1186  2025-06-19              23020
1187  2025-06-20              18274
1188  2025-06-21              25113
1189  2025-06-22              17784
1190  2025-06-23              16026
1191  2025-06-24              26889
1192  2025-06-25              20852

In [168]:
steps_clean_by_source = (
    steps_clean
    .groupby(["date", "sourceName"], as_index=False)
    .agg(
        steps=("value", "sum"),
        intervals=("value", "count")
    )
)

steps_clean_by_source[
    (steps_clean_by_source["date"] >= date(2025, 6, 14)) &
    (steps_clean_by_source["date"] <= date(2025, 6, 25))
].sort_values(["date", "steps"], ascending=[True, False])

            date          sourceName  steps  intervals
1573  2025-06-14              iPhone  11691         47
1572  2025-06-14  Hiro’s Apple Watch   9000         52
1575  2025-06-15              iPhone   9539         42
1574  2025-06-15  Hiro’s Apple Watch   4512          6
1576  2025-06-16  Hiro’s Apple Watch   8901         53
1577  2025-06-16              iPhone   1953         29
1578  2025-06-17  Hiro’s Apple Watch  10720         44
1579  2025-06-17              iPhone  10493         29
1580  2025-06-18  Hiro’s Apple Watch   6544         23
1581  2025-06-18              iPhone   1627         26
1583  2025-06-19              iPhone  13926         39
1582  2025-06-19  Hiro’s Apple Watch   9094         24
1584  2025-06-20  Hiro’s Apple Watch   9277         40
1585  2025-06-20              iPhone   8997         37
1587  2025-06-21              iPhone  14243         45
1586  2025-06-21  Hiro’s Apple Watch  10870         50
1588  2025-06-22  Hiro’s Apple Watch   8957         33
1589  2025-06-22              iPhone   8827         27
1590  2025-06-23  Hiro’s Apple Watch   8744         65
1591  2025-06-23              iPhone   7282         27
1593  2025-06-24              iPhone  15162         40
1592  2025-06-24  Hiro’s Apple Watch  11727         40
1594  2025-06-25  Hiro’s Apple Watch  10839         68
1595  2025-06-25              iPhone  10013         34

In [169]:
comparison = (
    validate_window
    .merge(
        steps_clean_daily,
        on="date",
        how="left"
    )
)

comparison["canonical_minus_raw"] = (
    comparison["canonical_steps"] - comparison["steps_clean_total"]
)

comparison.sort_values("date")

,date,canonical_source,canonical_steps,intervals,source_type,steps_clean_total,canonical_minus_raw
0,2025-06-14,Hiro’s Apple Watch,9000,52,granular,20691,-11691
1,2025-06-15,iPhone,9539,42,granular,14051,-4512
2,2025-06-16,Hiro’s Apple Watch,8901,53,granular,10854,-1953
3,2025-06-17,Hiro’s Apple Watch,10720,44,granular,21213,-10493
4,2025-06-18,iPhone,1627,26,granular,8171,-6544
5,2025-06-19,iPhone,13926,39,granular,23020,-9094
6,2025-06-20,Hiro’s Apple Watch,9277,40,granular,18274,-8997
7,2025-06-21,Hiro’s Apple Watch,10870,50,granular,25113,-14243
8,2025-06-22,Hiro’s Apple Watch,8957,33,granular,17784,-8827
9,2025-06-23,Hiro’s Apple Watch,8744,65,granular,16026,-7282
10,2025-06-24,Hiro’s Apple Watch,11727,40,granular,26889,-15162
11,2025-06-25,Hiro’s Apple Watch,10839,68,granular,20852,-10013

In [170]:
steps_clean["duration_min"] = (
    (steps_clean["endDate"] - steps_clean["startDate"])
    .dt.total_seconds() / 60
)

In [171]:
steps_clean

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync,duration_min
0,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57+05:30,12,iPhone,18.3.1,2025-02-19,0,4.466667
1,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07+05:30,1056,iPhone,18.3.1,2025-02-19,0,9.600000
2,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34+05:30,268,iPhone,18.3.1,2025-02-19,0,8.766667
3,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35+05:30,90,iPhone,18.3.1,2025-02-19,0,0.733333
4,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01+05:30,273,iPhone,18.3.1,2025-02-19,0,9.433333
...,...,...,...,...,...,...,...,...
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58+05:30,193,iPhone,26.1,2025-12-31,0,9.916667
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29+05:30,203,iPhone,26.1,2025-12-31,0,3.516667
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12+05:30,17,iPhone,26.1,2025-12-31,0,0.166667
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16+05:30,2,iPhone,26.1,2026-01-01,0,0.050000
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59+05:30,158,iPhone,26.1,2026-01-01,0,4.766667

In [172]:
steps_clean = steps_clean[steps_clean["duration_min"] > 0]

In [173]:
steps_clean

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync,duration_min
0,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57+05:30,12,iPhone,18.3.1,2025-02-19,0,4.466667
1,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07+05:30,1056,iPhone,18.3.1,2025-02-19,0,9.600000
2,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34+05:30,268,iPhone,18.3.1,2025-02-19,0,8.766667
3,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35+05:30,90,iPhone,18.3.1,2025-02-19,0,0.733333
4,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01+05:30,273,iPhone,18.3.1,2025-02-19,0,9.433333
...,...,...,...,...,...,...,...,...
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58+05:30,193,iPhone,26.1,2025-12-31,0,9.916667
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29+05:30,203,iPhone,26.1,2025-12-31,0,3.516667
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12+05:30,17,iPhone,26.1,2025-12-31,0,0.166667
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16+05:30,2,iPhone,26.1,2026-01-01,0,0.050000
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59+05:30,158,iPhone,26.1,2026-01-01,0,4.766667

In [174]:
steps_clean["spm"] = steps_clean["value"] / steps_clean["duration_min"]

In [175]:
steps_clean

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync,duration_min,spm
0,2025-02-19 04:38:29+05:30,2025-02-19 04:42:57+05:30,12,iPhone,18.3.1,2025-02-19,0,4.466667,2.686567
1,2025-02-19 04:56:31+05:30,2025-02-19 05:06:07+05:30,1056,iPhone,18.3.1,2025-02-19,0,9.600000,110.000000
2,2025-02-19 05:06:48+05:30,2025-02-19 05:15:34+05:30,268,iPhone,18.3.1,2025-02-19,0,8.766667,30.570342
3,2025-02-19 05:17:51+05:30,2025-02-19 05:18:35+05:30,90,iPhone,18.3.1,2025-02-19,0,0.733333,122.727273
4,2025-02-19 05:18:35+05:30,2025-02-19 05:28:01+05:30,273,iPhone,18.3.1,2025-02-19,0,9.433333,28.939929
...,...,...,...,...,...,...,...,...,...
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58+05:30,193,iPhone,26.1,2025-12-31,0,9.916667,19.462185
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29+05:30,203,iPhone,26.1,2025-12-31,0,3.516667,57.725118
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12+05:30,17,iPhone,26.1,2025-12-31,0,0.166667,102.000000
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16+05:30,2,iPhone,26.1,2026-01-01,0,0.050000,40.000000
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59+05:30,158,iPhone,26.1,2026-01-01,0,4.766667,33.146853

In [176]:
steps_clean["spm"].describe()

count    78927.000000
mean        55.659859
std         60.521356
min          0.002899
25%         18.843870
50%         37.647059
75%         74.117647
max        780.000000
Name: spm, dtype: float64

In [177]:
steps_clean["spm"].quantile([0.90, 0.95, 0.97, 0.99, 0.995, 0.999])

0.900    110.689655
0.950    160.000000
0.970    200.000000
0.990    320.000000
0.995    360.000000
0.999    540.000000
Name: spm, dtype: float64

In [178]:
high_spm = steps_clean[steps_clean["spm"] > 200]

In [179]:
high_spm.shape

(2334, 9)

In [180]:
high_spm["is_batched_sync"].value_counts()

is_batched_sync
0    2334
Name: count, dtype: int64

In [182]:
steps_clean.sort_values("startDate").head(15)

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync,duration_min,spm
59947,2021-10-06 06:50:00+05:30,2021-10-06 06:59:59+05:30,86,Mi Smart Band,202109271829,2021-10-06,0,9.983333,8.614357
59965,2021-10-06 07:30:00+05:30,2021-10-06 07:39:59+05:30,65,Mi Smart Band,202109271829,2021-10-06,0,9.983333,6.510851
59966,2021-10-06 07:40:00+05:30,2021-10-06 07:49:59+05:30,13,Mi Smart Band,202109271829,2021-10-06,0,9.983333,1.302170
59967,2021-10-06 07:50:00+05:30,2021-10-06 07:59:59+05:30,179,Mi Smart Band,202109271829,2021-10-06,0,9.983333,17.929883
59968,2021-10-06 08:00:00+05:30,2021-10-06 08:09:59+05:30,27,Mi Smart Band,202109271829,2021-10-06,0,9.983333,2.704508
59969,2021-10-06 08:10:00+05:30,2021-10-06 08:19:59+05:30,102,Mi Smart Band,202109271829,2021-10-06,0,9.983333,10.217028
59970,2021-10-06 08:20:00+05:30,2021-10-06 08:29:59+05:30,220,Mi Smart Band,202109271829,2021-10-06,0,9.983333,22.036728
59971,2021-10-06 09:00:00+05:30,2021-10-06 09:09:59+05:30,25,Mi Smart Band,202109271829,2021-10-06,0,9.983333,2.504174
59972,2021-10-06 09:10:00+05:30,2021-10-06 09:19:59+05:30,197,Mi Smart Band,202109271829,2021-10-06,0,9.983333,19.732888
59973,2021-10-06 09:20:00+05:30,2021-10-06 09:29:59+05:30,27,Mi Smart Band,202109271829,2021-10-06,0,9.983333,2.704508
59948,2021-10-06 09:30:00+05:30,2021-10-06 09:39:59+05:30,31,Mi Smart Band,202109271829,2021-10-06,0,9.983333,3.105175
59949,2021-10-06 09:50:00+05:30,2021-10-06 09:59:59+05:30,76,Mi Smart Band,202109271829,2021-10-06,0,9.983333,7.612688
59950,2021-10-06 10:00:00+05:30,2021-10-06 10:09:59+05:30,25,Mi Smart Band,202109271829,2021-10-06,0,9.983333,2.504174
59951,2021-10-06 11:00:00+05:30,2021-10-06 11:09:59+05:30,40,Mi Smart Band,202109271829,2021-10-06,0,9.983333,4.006678
59952,2021-10-06 11:10:00+05:30,2021-10-06 11:19:59+05:30,124,Mi Smart Band,202109271829,2021-10-06,0,9.983333,12.420701

In [183]:
steps_clean.sort_values("startDate").tail(15)

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync,duration_min,spm
78912,2025-12-31 14:40:00+05:30,2025-12-31 14:41:58+05:30,43,iPhone,26.1,2025-12-31,0,1.966667,21.864407
78913,2025-12-31 15:02:17+05:30,2025-12-31 15:02:22+05:30,13,iPhone,26.1,2025-12-31,0,0.083333,156.000000
78914,2025-12-31 15:29:35+05:30,2025-12-31 15:38:36+05:30,124,iPhone,26.1,2025-12-31,0,9.016667,13.752311
78915,2025-12-31 15:39:33+05:30,2025-12-31 15:39:45+05:30,23,iPhone,26.1,2025-12-31,0,0.200000,115.000000
78916,2025-12-31 18:29:05+05:30,2025-12-31 18:38:39+05:30,307,iPhone,26.1,2025-12-31,0,9.566667,32.090592
78917,2025-12-31 18:39:18+05:30,2025-12-31 18:47:53+05:30,85,iPhone,26.1,2025-12-31,0,8.583333,9.902913
78918,2025-12-31 18:47:53+05:30,2025-12-31 18:57:25+05:30,210,iPhone,26.1,2025-12-31,0,9.533333,22.027972
78919,2025-12-31 18:57:53+05:30,2025-12-31 19:07:12+05:30,89,iPhone,26.1,2025-12-31,0,9.316667,9.552773
78920,2025-12-31 19:17:14+05:30,2025-12-31 19:23:22+05:30,131,iPhone,26.1,2025-12-31,0,6.133333,21.358696
78921,2025-12-31 19:23:22+05:30,2025-12-31 19:32:43+05:30,118,iPhone,26.1,2025-12-31,0,9.350000,12.620321
78922,2025-12-31 19:33:03+05:30,2025-12-31 19:42:58+05:30,193,iPhone,26.1,2025-12-31,0,9.916667,19.462185
78923,2025-12-31 19:42:58+05:30,2025-12-31 19:46:29+05:30,203,iPhone,26.1,2025-12-31,0,3.516667,57.725118
78924,2025-12-31 20:15:02+05:30,2025-12-31 20:15:12+05:30,17,iPhone,26.1,2025-12-31,0,0.166667,102.000000
78925,2026-01-01 00:35:13+05:30,2026-01-01 00:35:16+05:30,2,iPhone,26.1,2026-01-01,0,0.050000,40.000000
78926,2026-01-01 07:59:13+05:30,2026-01-01 08:03:59+05:30,158,iPhone,26.1,2026-01-01,0,4.766667,33.146853

In [185]:
steps_clean.sort_values("spm", ascending=False).tail(15)

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync,duration_min,spm
41611,2022-05-05 09:30:00+05:30,2022-05-06 08:30:00+05:30,65,Fitbit,1,2022-05-05,0,1380.000000,0.047101
64579,2025-03-31 12:04:07+05:30,2025-03-31 15:44:42+05:30,8,iPhone,18.3.2,2025-03-31,0,220.583333,0.036267
41578,2022-02-02 10:30:00+05:30,2022-02-03 09:30:00+05:30,48,Fitbit,1,2022-02-02,0,1380.000000,0.034783
34737,2023-03-18 09:30:00+05:30,2023-03-19 08:30:00+05:30,46,Fitbit,1,2023-03-18,0,1380.000000,0.033333
41518,2022-08-11 09:30:00+05:30,2022-08-12 08:30:00+05:30,35,Fitbit,1,2022-08-11,0,1380.000000,0.025362
41559,2021-12-31 10:30:00+05:30,2022-01-01 09:30:00+05:30,29,Fitbit,1,2021-12-31,0,1380.000000,0.021014
41547,2021-12-18 10:30:00+05:30,2021-12-19 09:30:00+05:30,20,Fitbit,1,2021-12-18,0,1380.000000,0.014493
41509,2022-07-28 09:30:00+05:30,2022-07-29 08:30:00+05:30,18,Fitbit,1,2022-07-28,0,1380.000000,0.013043
41561,2022-01-02 10:30:00+05:30,2022-01-03 09:30:00+05:30,17,Fitbit,1,2022-01-02,0,1380.000000,0.012319
41591,2022-02-19 10:30:00+05:30,2022-02-20 09:30:00+05:30,16,Fitbit,1,2022-02-19,0,1380.000000,0.011594
41560,2022-01-01 10:30:00+05:30,2022-01-02 09:30:00+05:30,16,Fitbit,1,2022-01-01,0,1380.000000,0.011594
41575,2022-01-30 10:30:00+05:30,2022-01-31 09:30:00+05:30,14,Fitbit,1,2022-01-30,0,1380.000000,0.010145
41476,2022-06-01 09:30:00+05:30,2022-06-02 08:30:00+05:30,6,Fitbit,1,2022-06-01,0,1380.000000,0.004348
41482,2022-06-07 09:30:00+05:30,2022-06-08 08:30:00+05:30,6,Fitbit,1,2022-06-07,0,1380.000000,0.004348
41508,2022-07-24 09:30:00+05:30,2022-07-25 08:30:00+05:30,4,Fitbit,1,2022-07-24,0,1380.000000,0.002899

In [186]:
record_type =
  if sourceName == "Fitbit" and intervals_per_day <= 2 and duration_min > 1000:
      "daily_summary"
  else:
      "granular_interval"

SyntaxError: invalid syntax (1735035657.py, line 1)

In [187]:
high_spm

,startDate,endDate,value,sourceName,sourceVersion,date,is_batched_sync,duration_min,spm
10,2025-02-19 06:42:30+05:30,2025-02-19 06:42:32+05:30,8,iPhone,18.3.1,2025-02-19,0,0.033333,240.0
113,2025-02-12 01:31:13+05:30,2025-02-12 01:31:15+05:30,10,Hiro’s Apple Watch,11.0.1,2025-02-12,0,0.033333,300.0
137,2025-02-12 02:48:30+05:30,2025-02-12 02:48:32+05:30,8,iPhone,18.3,2025-02-12,0,0.033333,240.0
147,2025-02-12 07:24:45+05:30,2025-02-12 07:24:47+05:30,8,iPhone,18.3,2025-02-12,0,0.033333,240.0
187,2025-02-13 05:15:25+05:30,2025-02-13 05:15:28+05:30,16,iPhone,18.3,2025-02-13,0,0.050000,320.0
...,...,...,...,...,...,...,...,...,...
78842,2025-12-29 11:52:20+05:30,2025-12-29 11:52:22+05:30,16,iPhone,26.1,2025-12-29,0,0.033333,480.0
78867,2025-12-30 07:07:44+05:30,2025-12-30 07:07:47+05:30,20,iPhone,26.1,2025-12-30,0,0.050000,400.0
78869,2025-12-30 08:02:05+05:30,2025-12-30 08:02:07+05:30,18,iPhone,26.1,2025-12-30,0,0.033333,540.0
78872,2025-12-30 11:28:15+05:30,2025-12-30 11:28:18+05:30,12,iPhone,26.1,2025-12-30,0,0.050000,240.0
78911,2025-12-31 14:25:43+05:30,2025-12-31 14:25:45+05:30,18,iPhone,26.1,2025-12-31,0,0.033333,540.0

In [189]:
high_spm["spm"].value_counts()

spm
240.000000    663
320.000000    217
270.000000    202
300.000000    190
480.000000    173
360.000000    151
220.000000    122
330.000000     95
540.000000     71
216.000000     40
228.000000     38
204.000000     37
260.000000     32
400.000000     30
264.000000     27
600.000000     24
252.000000     23
210.000000     22
280.000000     21
440.000000     16
420.000000     16
390.000000     15
276.000000     14
288.000000     13
660.000000     11
380.000000      6
205.714286      6
340.000000      5
202.500000      4
720.000000      4
214.285714      4
231.428571      4
450.000000      4
510.000000      3
570.000000      3
460.000000      3
520.000000      3
222.857143      2
225.000000      2
630.000000      2
324.000000      2
312.000000      2
255.000000      1
250.000000      1
780.000000      1
203.076923      1
500.000000      1
222.000000      1
292.000000      1
248.571429      1
230.000000      1
274.285714      1
217.500000      1
247.500000      1
Name: count, dtype: int64

In [190]:
high_spm_days = (
    steps_clean
    .loc[steps_clean["spm"] > 200, ["date"]]
    .drop_duplicates()
    .assign(high_spm_flag=1)
)

In [191]:
high_spm_days

             date  high_spm_flag
10     2025-02-19              1
113    2025-02-12              1
187    2025-02-13              1
330    2025-02-15              1
431    2025-02-17              1
...           ...            ...
78731  2025-12-27              1
78761  2025-12-28              1
78840  2025-12-29              1
78867  2025-12-30              1
78911  2025-12-31              1

[904 rows x 2 columns]

In [192]:
daily_steps = (
    steps_clean
    .groupby("date", as_index=False)
    .agg(
        total_steps=("value", "sum"),
        intervals=("value", "count"),
        max_spm=("spm", "max")
    )
)

In [194]:
daily_steps[daily_steps["max_spm"]>200]

            date  total_steps  intervals  max_spm
183   2022-09-20         5969         44    320.0
184   2022-09-21        31729        294    400.0
185   2022-09-22        37377        327    400.0
186   2022-09-23        34218        322    600.0
187   2022-09-24        40696        360    540.0
...          ...          ...        ...      ...
1377  2025-12-27         5967         31    270.0
1378  2025-12-28         7705         77    600.0
1379  2025-12-29         2279         29    480.0
1380  2025-12-30         2112         34    540.0
1381  2025-12-31         2309         25    540.0

[904 rows x 4 columns]

In [199]:
daily_steps_sorted = daily_steps.sort_values('total_steps')

In [200]:
daily_steps_sorted

            date  total_steps  intervals     max_spm
155   2022-07-24            4          1    0.002899
123   2022-06-01            6          1    0.004348
129   2022-06-07            6          1    0.004348
65    2022-01-30           14          1    0.010145
50    2022-01-01           16          1    0.011594
...          ...          ...        ...         ...
870   2024-08-07        39971        163  400.000000
187   2022-09-24        40696        360  540.000000
955   2024-10-31        40990        159  440.000000
982   2024-11-27        43157        202  360.000000
1295  2025-10-06        44492        178  330.000000

[1383 rows x 4 columns]

In [201]:
daily_steps

            date  total_steps  intervals     max_spm
0     2021-10-06         6884         41   91.652755
1     2021-10-07         8421         66   42.170284
2     2021-10-08        12032         82   97.662771
3     2021-10-09         8443         65   82.838063
4     2021-10-10         4885         50   90.550918
...          ...          ...        ...         ...
1378  2025-12-28         7705         77  600.000000
1379  2025-12-29         2279         29  480.000000
1380  2025-12-30         2112         34  540.000000
1381  2025-12-31         2309         25  540.000000
1382  2026-01-01          160          2   40.000000

[1383 rows x 4 columns]

In [202]:
daily_steps

            date  total_steps  intervals     max_spm
0     2021-10-06         6884         41   91.652755
1     2021-10-07         8421         66   42.170284
2     2021-10-08        12032         82   97.662771
3     2021-10-09         8443         65   82.838063
4     2021-10-10         4885         50   90.550918
...          ...          ...        ...         ...
1378  2025-12-28         7705         77  600.000000
1379  2025-12-29         2279         29  480.000000
1380  2025-12-30         2112         34  540.000000
1381  2025-12-31         2309         25  540.000000
1382  2026-01-01          160          2   40.000000

[1383 rows x 4 columns]

In [203]:
daily_steps["low_activity_flag"] = (daily_steps["total_steps"] < 3000).astype(int)

In [204]:
daily_steps["false_spm_flag"] = (daily_steps["max_spm"] > 250).astype(int)

In [205]:
daily_steps

,date,total_steps,intervals,max_spm,low_activity_flag,false_spm_flag
0,2021-10-06,6884,41,91.652755,0,0
1,2021-10-07,8421,66,42.170284,0,0
2,2021-10-08,12032,82,97.662771,0,0
3,2021-10-09,8443,65,82.838063,0,0
4,2021-10-10,4885,50,90.550918,0,0
...,...,...,...,...,...,...
1378,2025-12-28,7705,77,600.000000,0,1
1379,2025-12-29,2279,29,480.000000,1,1
1380,2025-12-30,2112,34,540.000000,1,1
1381,2025-12-31,2309,25,540.000000,1,1
1382,2026-01-01,160,2,40.000000,1,0

In [208]:
daily_steps_export = daily_steps.copy()

daily_steps_export["low_activity_flag"] = (
    daily_steps_export["total_steps"] < 3000
).astype(int)

daily_steps_export["high_activity_flag"] = (
    daily_steps_export["total_steps"] >= 12000
).astype(int)

In [209]:
daily_steps_export

,date,total_steps,intervals,max_spm,low_activity_flag,false_spm_flag,high_activity_flag
0,2021-10-06,6884,41,91.652755,0,0,0
1,2021-10-07,8421,66,42.170284,0,0,0
2,2021-10-08,12032,82,97.662771,0,0,1
3,2021-10-09,8443,65,82.838063,0,0,0
4,2021-10-10,4885,50,90.550918,0,0,0
...,...,...,...,...,...,...,...
1378,2025-12-28,7705,77,600.000000,0,1,0
1379,2025-12-29,2279,29,480.000000,1,1,0
1380,2025-12-30,2112,34,540.000000,1,1,0
1381,2025-12-31,2309,25,540.000000,1,1,0
1382,2026-01-01,160,2,40.000000,1,0,0

In [210]:
daily_steps_export.to_csv(
    "daily_steps_analytics.csv",
    index=False
)