In [1]:
import pandas as pd
import numpy as np

df_workouts = pd.read_excel("data/raw/workouts.xlsx")

In [2]:
df_workouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   workoutActivityType  146 non-null    object
 1   duration             146 non-null    float64
 2   durationUnit         146 non-null    object
 3   sourceName           146 non-null    object
 4   sourceVersion        146 non-null    object
 5   device               89 non-null     object
 6   creationDate         146 non-null    object
 7   startDate            146 non-null    object
 8   endDate              146 non-null    object
 9   MetadataEntry        0 non-null      float64
 10  WorkoutEvent         0 non-null      float64
 11  WorkoutStatistics    0 non-null      float64
 12  WorkoutRoute         67 non-null     object
dtypes: float64(4), object(9)
memory usage: 15.0+ KB

In [3]:
df_workouts.isna().sum()

workoutActivityType      0
duration                 0
durationUnit             0
sourceName               0
sourceVersion            0
device                  57
creationDate             0
startDate                0
endDate                  0
MetadataEntry          146
WorkoutEvent           146
WorkoutStatistics      146
WorkoutRoute            79
dtype: int64

In [4]:
(df_workouts.isna().mean() * 100).round(2)

workoutActivityType      0.00
duration                 0.00
durationUnit             0.00
sourceName               0.00
sourceVersion            0.00
device                  39.04
creationDate             0.00
startDate                0.00
endDate                  0.00
MetadataEntry          100.00
WorkoutEvent           100.00
WorkoutStatistics      100.00
WorkoutRoute            54.11
dtype: float64

In [5]:
df_workouts["workoutActivityType"].value_counts()

workoutActivityType
HKWorkoutActivityTypeWalking                       72
HKWorkoutActivityTypeFunctionalStrengthTraining    18
HKWorkoutActivityTypeElliptical                    17
HKWorkoutActivityTypeCycling                       14
HKWorkoutActivityTypeRunning                       12
HKWorkoutActivityTypeOther                         11
HKWorkoutActivityTypeYoga                           1
HKWorkoutActivityTypeSnowSports                     1
Name: count, dtype: int64

In [6]:
workout_type_map = {
    "HKWorkoutActivityTypeWalking": "walking",
    "HKWorkoutActivityTypeRunning": "running",
    "HKWorkoutActivityTypeCycling": "cycling",
    "HKWorkoutActivityTypeElliptical": "elliptical",
    "HKWorkoutActivityTypeFunctionalStrengthTraining": "strength_training",
    "HKWorkoutActivityTypeYoga": "yoga",
    "HKWorkoutActivityTypeSnowSports": "snow_sports",
    "HKWorkoutActivityTypeOther": "other",
}

df_workouts["workout_type"] = df_workouts["workoutActivityType"].map(workout_type_map)

In [7]:
df_workouts["workout_type"].value_counts()

workout_type
walking              72
strength_training    18
elliptical           17
cycling              14
running              12
other                11
yoga                  1
snow_sports           1
Name: count, dtype: int64

In [8]:
df_workouts = df_workouts.drop(columns=["workoutActivityType"])

In [9]:
df_workouts

,duration,durationUnit,sourceName,sourceVersion,device,creationDate,startDate,endDate,MetadataEntry,WorkoutEvent,WorkoutStatistics,WorkoutRoute,workout_type
0,14.935185,min,Hiro’s Apple Watch,10.2,"<<HKDevice: 0x6ca008ba0>, name:Apple Watch, ma...",2023-12-21 05:42:41 +0530,2023-12-21 05:27:44 +0530,2023-12-21 05:42:40 +0530,NaN,NaN,NaN,\n,walking
1,30.870152,min,Hiro’s Apple Watch,10.2,"<<HKDevice: 0x6ca008ba0>, name:Apple Watch, ma...",2024-01-03 04:46:27 +0530,2024-01-03 04:15:34 +0530,2024-01-03 04:46:26 +0530,NaN,NaN,NaN,\n,walking
2,34.840040,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-01-30 04:07:29 +0530,2024-01-30 03:32:36 +0530,2024-01-30 04:07:27 +0530,NaN,NaN,NaN,NaN,yoga
3,14.160901,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-02-10 22:20:02 +0530,2024-02-10 22:04:30 +0530,2024-02-10 22:18:40 +0530,NaN,NaN,NaN,\n,cycling
4,22.470504,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-02-10 22:49:18 +0530,2024-02-10 22:20:15 +0530,2024-02-10 22:49:14 +0530,NaN,NaN,NaN,\n,cycling
...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,161.000000,min,Strava,50813,NaN,2025-11-28 03:34:58 +0530,2025-11-19 19:12:54 +0530,2025-11-19 21:53:54 +0530,NaN,NaN,NaN,NaN,other
142,51.633333,min,Zepp,202511151142,NaN,2025-11-22 20:58:07 +0530,2025-11-20 19:28:44 +0530,2025-11-20 20:20:22 +0530,NaN,NaN,NaN,NaN,strength_training
143,51.633333,min,Strava,50813,NaN,2025-11-28 03:34:58 +0530,2025-11-20 19:28:44 +0530,2025-11-20 20:20:22 +0530,NaN,NaN,NaN,NaN,other
144,160.416667,min,Zepp,202511201645,NaN,2025-12-03 07:19:36 +0530,2025-12-02 18:56:44 +0530,2025-12-02 21:37:09 +0530,NaN,NaN,NaN,NaN,strength_training
145,160.416667,min,Strava,50814,NaN,2025-12-03 07:20:32 +0530,2025-12-02 18:56:44 +0530,2025-12-02 21:37:09 +0530,NaN,NaN,NaN,NaN,other

In [10]:
df_workouts = df_workouts.drop(
    columns=["MetadataEntry", "WorkoutEvent", "WorkoutStatistics", "WorkoutRoute"]
)

In [12]:
df_workouts

,duration,durationUnit,sourceName,sourceVersion,device,creationDate,startDate,endDate,workout_type
0,14.935185,min,Hiro’s Apple Watch,10.2,"<<HKDevice: 0x6ca008ba0>, name:Apple Watch, ma...",2023-12-21 05:42:41 +0530,2023-12-21 05:27:44 +0530,2023-12-21 05:42:40 +0530,walking
1,30.870152,min,Hiro’s Apple Watch,10.2,"<<HKDevice: 0x6ca008ba0>, name:Apple Watch, ma...",2024-01-03 04:46:27 +0530,2024-01-03 04:15:34 +0530,2024-01-03 04:46:26 +0530,walking
2,34.840040,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-01-30 04:07:29 +0530,2024-01-30 03:32:36 +0530,2024-01-30 04:07:27 +0530,yoga
3,14.160901,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-02-10 22:20:02 +0530,2024-02-10 22:04:30 +0530,2024-02-10 22:18:40 +0530,cycling
4,22.470504,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-02-10 22:49:18 +0530,2024-02-10 22:20:15 +0530,2024-02-10 22:49:14 +0530,cycling
...,...,...,...,...,...,...,...,...,...
141,161.000000,min,Strava,50813,NaN,2025-11-28 03:34:58 +0530,2025-11-19 19:12:54 +0530,2025-11-19 21:53:54 +0530,other
142,51.633333,min,Zepp,202511151142,NaN,2025-11-22 20:58:07 +0530,2025-11-20 19:28:44 +0530,2025-11-20 20:20:22 +0530,strength_training
143,51.633333,min,Strava,50813,NaN,2025-11-28 03:34:58 +0530,2025-11-20 19:28:44 +0530,2025-11-20 20:20:22 +0530,other
144,160.416667,min,Zepp,202511201645,NaN,2025-12-03 07:19:36 +0530,2025-12-02 18:56:44 +0530,2025-12-02 21:37:09 +0530,strength_training
145,160.416667,min,Strava,50814,NaN,2025-12-03 07:20:32 +0530,2025-12-02 18:56:44 +0530,2025-12-02 21:37:09 +0530,other

In [13]:
# Reorder columns to move workout_type before duration
cols = df_workouts.columns.tolist()

# Define desired order for the first few columns
new_order = (
    ["workout_type", "duration", "durationUnit"]
    + [c for c in cols if c not in ["workout_type", "duration", "durationUnit"]]
)

df_workouts = df_workouts[new_order]

In [14]:
df_workouts

,workout_type,duration,durationUnit,sourceName,sourceVersion,device,creationDate,startDate,endDate
0,walking,14.935185,min,Hiro’s Apple Watch,10.2,"<<HKDevice: 0x6ca008ba0>, name:Apple Watch, ma...",2023-12-21 05:42:41 +0530,2023-12-21 05:27:44 +0530,2023-12-21 05:42:40 +0530
1,walking,30.870152,min,Hiro’s Apple Watch,10.2,"<<HKDevice: 0x6ca008ba0>, name:Apple Watch, ma...",2024-01-03 04:46:27 +0530,2024-01-03 04:15:34 +0530,2024-01-03 04:46:26 +0530
2,yoga,34.840040,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-01-30 04:07:29 +0530,2024-01-30 03:32:36 +0530,2024-01-30 04:07:27 +0530
3,cycling,14.160901,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-02-10 22:20:02 +0530,2024-02-10 22:04:30 +0530,2024-02-10 22:18:40 +0530
4,cycling,22.470504,min,Hiro’s Apple Watch,10.3,"<<HKDevice: 0x6ca00a580>, name:Apple Watch, ma...",2024-02-10 22:49:18 +0530,2024-02-10 22:20:15 +0530,2024-02-10 22:49:14 +0530
...,...,...,...,...,...,...,...,...,...
141,other,161.000000,min,Strava,50813,NaN,2025-11-28 03:34:58 +0530,2025-11-19 19:12:54 +0530,2025-11-19 21:53:54 +0530
142,strength_training,51.633333,min,Zepp,202511151142,NaN,2025-11-22 20:58:07 +0530,2025-11-20 19:28:44 +0530,2025-11-20 20:20:22 +0530
143,other,51.633333,min,Strava,50813,NaN,2025-11-28 03:34:58 +0530,2025-11-20 19:28:44 +0530,2025-11-20 20:20:22 +0530
144,strength_training,160.416667,min,Zepp,202511201645,NaN,2025-12-03 07:19:36 +0530,2025-12-02 18:56:44 +0530,2025-12-02 21:37:09 +0530
145,other,160.416667,min,Strava,50814,NaN,2025-12-03 07:20:32 +0530,2025-12-02 18:56:44 +0530,2025-12-02 21:37:09 +0530

In [15]:
df_workouts["device"].isna().sum(), len(df_workouts)

(np.int64(57), 146)

In [16]:
df_workouts["device"].value_counts(dropna=False)

device
NaN                                                                                                                                                                57
<<HKDevice: 0x6ca00bf00>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:11.5, creation date:2025-06-27 20:52:23 +0000>      23
<<HKDevice: 0x6ca5197a0>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:26.0, creation date:2025-09-13 06:54:55 +0000>      20
<<HKDevice: 0x6ca032ac0>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:26.0.2, creation date:2025-10-10 10:01:06 +0000>    17
<<HKDevice: 0x6ca008ae0>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:11.3.1, creation date:2025-03-21 23:14:40 +0000>    13
<<HKDevice: 0x6ca00a580>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:10.3, creation date:2024-01-25 10:47:32 +0000>       5
<<HKDevice: 0x6ca009200>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:11.0, creation date:2024-09-16 21:44:27 +0000>       5
<<HKDevice: 0x6ca008ba0>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:10.2, creation date:2023-12-17 03:26:47 +0000>       2
<<HKDevice: 0x6ca00ad60>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:11.0.1, creation date:2024-10-18 06:53:37 +0000>     2
<<HKDevice: 0x6ca5182a0>, name:Apple Watch, manufacturer:Apple Inc., model:Watch, hardware:Watch6,11, software:11.6, creation date:2025-08-04 21:20:50 +0000>       1
<<HKDevice: 0x6ca51b120>, name:iPhone, manufacturer:Apple Inc., model:iPhone, hardware:iPhone14,5, software:26.0, creation date:2025-09-13 05:25:20 +0000>          1
Name: count, dtype: int64

In [17]:
df_workouts = df_workouts.drop(columns=["device"])

In [18]:
df_workouts

,workout_type,duration,durationUnit,sourceName,sourceVersion,creationDate,startDate,endDate
0,walking,14.935185,min,Hiro’s Apple Watch,10.2,2023-12-21 05:42:41 +0530,2023-12-21 05:27:44 +0530,2023-12-21 05:42:40 +0530
1,walking,30.870152,min,Hiro’s Apple Watch,10.2,2024-01-03 04:46:27 +0530,2024-01-03 04:15:34 +0530,2024-01-03 04:46:26 +0530
2,yoga,34.840040,min,Hiro’s Apple Watch,10.3,2024-01-30 04:07:29 +0530,2024-01-30 03:32:36 +0530,2024-01-30 04:07:27 +0530
3,cycling,14.160901,min,Hiro’s Apple Watch,10.3,2024-02-10 22:20:02 +0530,2024-02-10 22:04:30 +0530,2024-02-10 22:18:40 +0530
4,cycling,22.470504,min,Hiro’s Apple Watch,10.3,2024-02-10 22:49:18 +0530,2024-02-10 22:20:15 +0530,2024-02-10 22:49:14 +0530
...,...,...,...,...,...,...,...,...
141,other,161.000000,min,Strava,50813,2025-11-28 03:34:58 +0530,2025-11-19 19:12:54 +0530,2025-11-19 21:53:54 +0530
142,strength_training,51.633333,min,Zepp,202511151142,2025-11-22 20:58:07 +0530,2025-11-20 19:28:44 +0530,2025-11-20 20:20:22 +0530
143,other,51.633333,min,Strava,50813,2025-11-28 03:34:58 +0530,2025-11-20 19:28:44 +0530,2025-11-20 20:20:22 +0530
144,strength_training,160.416667,min,Zepp,202511201645,2025-12-03 07:19:36 +0530,2025-12-02 18:56:44 +0530,2025-12-02 21:37:09 +0530
145,other,160.416667,min,Strava,50814,2025-12-03 07:20:32 +0530,2025-12-02 18:56:44 +0530,2025-12-02 21:37:09 +0530

In [19]:
df_workouts["sourceName"].value_counts()

sourceName
Hiro’s Apple Watch    88
Strava                28
Zepp                  28
Health                 1
Fitness                1
Name: count, dtype: int64

In [20]:
df_zepp = df_workouts[df_workouts["sourceName"] == "Zepp"]
df_strava = df_workouts[df_workouts["sourceName"] == "Strava"]

In [21]:
df_zepp["workout_type"].value_counts(), df_strava["workout_type"].value_counts()

(workout_type
 strength_training    11
 elliptical            6
 running               6
 cycling               3
 walking               2
 Name: count, dtype: int64,
 workout_type
 other         11
 elliptical     6
 running        6
 cycling        3
 walking        2
 Name: count, dtype: int64)

In [22]:
df_zepp[["startDate", "endDate", "workout_type", "duration"]].head(), \
df_strava[["startDate", "endDate", "workout_type", "duration"]].head()

(                    startDate                    endDate workout_type  \
 91  2025-10-27 06:34:49 +0530  2025-10-27 07:44:50 +0530      walking
 92  2025-10-27 18:26:23 +0530  2025-10-27 18:47:10 +0530   elliptical
 94  2025-10-27 18:51:37 +0530  2025-10-27 19:12:13 +0530      running
 97  2025-10-27 19:16:40 +0530  2025-10-27 19:27:33 +0530      cycling
 98  2025-11-03 19:36:00 +0530  2025-11-03 19:52:10 +0530   elliptical

      duration
 91  70.016667
 92  20.783333
 94  20.600000
 97  10.883333
 98  16.166667  ,
                     startDate                    endDate workout_type  \
 90  2025-10-27 06:34:49 +0530  2025-10-27 07:41:55 +0530      walking
 93  2025-10-27 18:26:23 +0530  2025-10-27 18:47:10 +0530   elliptical
 95  2025-10-27 18:51:37 +0530  2025-10-27 19:12:13 +0530      running
 96  2025-10-27 19:16:40 +0530  2025-10-27 19:27:32 +0530      cycling
 99  2025-11-03 19:36:00 +0530  2025-11-03 19:52:10 +0530   elliptical

      duration
 90  67.100000
 93  20.783333
 95  20.600000
 96  10.866667
 99  16.166667  )

In [23]:
common = pd.merge(
    df_zepp,
    df_strava,
    on=["startDate", "endDate", "workout_type", "duration"],
    how="inner"
)

len(common)

3

In [24]:
df_workouts["startDate"] = pd.to_datetime(df_workouts["startDate"])
df_workouts["endDate"] = pd.to_datetime(df_workouts["endDate"])

In [25]:
df_zepp = df_workouts[df_workouts["sourceName"] == "Zepp"].copy()
df_strava = df_workouts[df_workouts["sourceName"] == "Strava"].copy()

In [26]:
df_zepp["workout_date"] = df_zepp["startDate"].dt.date
df_strava["workout_date"] = df_strava["startDate"].dt.date

In [27]:
merged = pd.merge(
    df_zepp,
    df_strava,
    on=["workout_type", "workout_date"],
    suffixes=("_zepp", "_strava")
)

# Duration difference in minutes
merged["duration_diff"] = abs(
    merged["duration_zepp"] - merged["duration_strava"]
)

# Consider duplicates if duration diff ≤ 2 minutes
duplicates = merged[merged["duration_diff"] <= 2]

len(duplicates)

15

In [28]:
df_workouts = df_workouts[df_workouts["sourceName"] != "Strava"]

In [29]:
df_workouts["sourceName"].value_counts()

sourceName
Hiro’s Apple Watch    88
Zepp                  28
Health                 1
Fitness                1
Name: count, dtype: int64

In [31]:
df_workouts["sourceName"] = df_workouts["sourceName"].replace({
    "Zepp": "Amazfit"
})

/var/folders/qn/nbwh232s04q3rlws381dgql00000gn/T/ipykernel_32933/758496062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_workouts["sourceName"] = df_workouts["sourceName"].replace({

In [32]:
df_workouts.loc[:, "sourceName"] = df_workouts["sourceName"].replace({
    "Zepp": "Amazfit"
})

In [33]:
df_workouts["sourceName"].value_counts()

sourceName
Hiro’s Apple Watch    88
Amazfit               28
Health                 1
Fitness                1
Name: count, dtype: int64

In [34]:
df_health_fitness = df_workouts[
    df_workouts["sourceName"].isin(["Health", "Fitness"])
].copy()

df_health_fitness.shape

(2, 8)

In [35]:
df_health_fitness[
    ["workout_type", "duration", "durationUnit", "startDate", "endDate", "sourceName"]
]

,workout_type,duration,durationUnit,startDate,endDate,sourceName
47,walking,90.000000,min,2025-07-28 06:59:00+05:30,2025-07-28 08:29:00+05:30,Health
68,walking,48.341453,min,2025-10-06 12:17:12+05:30,2025-10-06 13:11:31+05:30,Fitness

In [36]:
df_workouts.loc[:, "sourceName"] = df_workouts["sourceName"].replace({
    "Health": "iPhone",
    "Fitness": "iPhone",
    "Zepp": "Amazfit"
})

In [38]:
df_workouts["sourceName"].value_counts()

sourceName
Hiro’s Apple Watch    88
Amazfit               28
iPhone                 2
Name: count, dtype: int64

In [39]:
df_workouts

,workout_type,duration,durationUnit,sourceName,sourceVersion,creationDate,startDate,endDate
0,walking,14.935185,min,Hiro’s Apple Watch,10.2,2023-12-21 05:42:41 +0530,2023-12-21 05:27:44+05:30,2023-12-21 05:42:40+05:30
1,walking,30.870152,min,Hiro’s Apple Watch,10.2,2024-01-03 04:46:27 +0530,2024-01-03 04:15:34+05:30,2024-01-03 04:46:26+05:30
2,yoga,34.840040,min,Hiro’s Apple Watch,10.3,2024-01-30 04:07:29 +0530,2024-01-30 03:32:36+05:30,2024-01-30 04:07:27+05:30
3,cycling,14.160901,min,Hiro’s Apple Watch,10.3,2024-02-10 22:20:02 +0530,2024-02-10 22:04:30+05:30,2024-02-10 22:18:40+05:30
4,cycling,22.470504,min,Hiro’s Apple Watch,10.3,2024-02-10 22:49:18 +0530,2024-02-10 22:20:15+05:30,2024-02-10 22:49:14+05:30
...,...,...,...,...,...,...,...,...
137,cycling,10.116667,min,Amazfit,202511151142,2025-11-22 20:58:06 +0530,2025-11-15 20:16:48+05:30,2025-11-15 20:26:55+05:30
138,strength_training,50.883333,min,Amazfit,202511151142,2025-11-22 20:58:06 +0530,2025-11-18 19:00:56+05:30,2025-11-18 19:51:49+05:30
140,strength_training,161.000000,min,Amazfit,202511151142,2025-11-22 20:58:19 +0530,2025-11-19 19:12:54+05:30,2025-11-19 21:53:54+05:30
142,strength_training,51.633333,min,Amazfit,202511151142,2025-11-22 20:58:07 +0530,2025-11-20 19:28:44+05:30,2025-11-20 20:20:22+05:30
144,strength_training,160.416667,min,Amazfit,202511201645,2025-12-03 07:19:36 +0530,2025-12-02 18:56:44+05:30,2025-12-02 21:37:09+05:30

In [40]:
df_workouts["durationUnit"].value_counts()

durationUnit
min    118
Name: count, dtype: int64

In [41]:
df_workouts["duration"].describe()

count    118.000000
mean      58.515603
std       48.194669
min       10.083333
25%       21.915139
50%       52.450016
75%       71.412498
max      375.018426
Name: duration, dtype: float64

In [42]:
# Zero or negative durations (should be none)
(df_workouts["duration"] <= 0).sum()

np.int64(0)

In [43]:
# Very long workouts (e.g., > 6 hours)
(df_workouts["duration"] > 360).sum()

np.int64(1)

In [44]:
(df_workouts["duration"] > 360).sum()

np.int64(1)

In [45]:
df_workouts[df_workouts["duration"] > 360][
    ["workout_type", "duration", "startDate", "endDate", "sourceName"]
]

,workout_type,duration,startDate,endDate,sourceName
67,walking,375.018426,2025-10-06 05:53:14+05:30,2025-10-06 12:08:24+05:30,Hiro’s Apple Watch